.aside
{
    grid-template: aside-start / aside-end;
    display: grid;
    grid-template-rows: 25rem 1fr 5rem;
    overflow: hidden;

    @media only screen and (max-width: 1000px)
    {
        transition: 0.4s;
        left: -100%;
        position: fixed;
        top: 0;
        z-index: 101;
        height: 100%;

        &Footer
        {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 102;

            width: 100%;
            height: 5.5rem;
        }
    }

    &[data-open="true"]
    {
        transition: 0.4s;
        left: 0;
    }

    &Divider
    {
        background: var(--color-base-text);
        width: 100%;
        height: 1px;
        opacity: 0.3;
    }

    &User
    {
        background: var(--base-darker);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &Icon
        {
            & svg
            {
                width: 2rem;
                height: 2rem;
                fill: var(--color-base-text);
                position: absolute;
                right: 2rem;
                top: 2rem;
                display: none;

                @media only screen and (max-width: 1000px)
                {
                    display: block;
                }
            }
        }

        &Profile
        {
            position: relative;

            border-radius: 50%;
        }

        &StatusParent
        {
            position: absolute;
            bottom: 0.5rem;
            right: 1rem;
            z-index: 100;

            height: 1.5rem;
            width: 1.5rem;

            &::before
            {
                content: "";

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                opacity: 0;
                background: var(--color-base-text-bold);
                height: 1rem;
                width: 1rem;
                border-radius: 50%;
                animation: beat 1s infinite ease-in-out;
            }
        }

        &Status
        {
            position: absolute;
            margin-bottom: -1rem;
            height: 1.5rem;
            width: 1.5rem;
            background-color: var(--color-primary);
            border-radius: 50%;
        }

        &Name
        {
            margin: 1rem 0;

            & a
            {
                color: var(--color-base-text-bold);
                font-size: 1.5rem;
                transition: 0.4s ease-out;

                &:hover
                {
                    color: var(--color-primary);
                }
            }
        }

        &Skills
        {
            font-weight: 300;
            font-size: 1.25rem;
            color: var(--color-base-text);
            text-align: center;
            line-height: 2rem;
        }
    }

    &Information
    {
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 2rem 3rem;

        background-color: var(--base-dark);

        &::-webkit-scrollbar
        {
            display: none;
        }

        &Language
        {
            display: flex;
            align-items: center;
            justify-content: center;

            margin-bottom: 2rem;

            &Active
            {
                background-color: var(--color-primary) !important;
                color: var(--base-dark) !important;
            }

            & span
            {
                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 50%;
                background-color: var(--base);
                color: var(--color-base-text-bold);
                font-weight: 600;
                transition: all 0.2s;
                cursor: pointer;
                width: 2.8rem;
                height: 2.8rem;
                margin: auto auto 0.5rem;

                &:hover
                {
                    color: var(--color-base-text-bold);
                    background-color: var(--base-darker);
                }
            }
        }

        &Personal
        {
            margin-top: 2rem;
            padding-bottom: 1.2rem;

            & li
            {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;
            }

            & h6
            {
                color: var(--color-base-text-bold);
                font-size: 1.2rem;
                font-weight: 300;
            }

            & span
            {
                font-size: 1.2rem;
            }
        }

        &Languages
        {
            display: flex;
            justify-content: center;

            margin-top: 2rem;
            margin-bottom: 2.3rem;

            & div
            {
                display: flex;
                flex-direction: column;
                align-items: center;

                & svg
                {
                    margin: 1rem;
                    width: 5rem;
                    height: 5rem;

                    & path
                    {
                        stroke: var(--color-primary);
                    }

                    & path:nth-child(1)
                    {
                        fill: none;
                        stroke: var(--base-darker) !important;
                        stroke-width: 3.8;
                    }

                    & path:nth-child(2)
                    {
                        fill: none;
                        stroke-width: 2.8;
                        stroke-linecap: round;
                        animation: progress-bar 1s ease-out forwards;
                    }

                    & text
                    {
                        fill: var(--color-base-text);
                        font-size: 0.6em;
                        text-anchor: middle;
                    }
                }

                & h6
                {
                    color: var(--color-base-text-bold);
                    font-size: 1.2rem;
                    font-weight: 300;
                }
            }
        }

        &Skills
        {
            margin: 3rem 0;

            &Bar
            {
                margin: 1.8rem 0;
            }

            &Info
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;

                & span:first-child
                {
                    color: var(--color-base-text-bolder);
                    font-weight: 500;
                    font-size: 1.2rem;
                }
            }

            &Progress
            {
                position: relative;

                height: 0.5rem;
                width: 100%;
                border-radius: 5rem;
                background-color: var(--base-darker);

                & span
                {
                    border-radius: 5rem;
                    width: 100%;
                    animation: progress-bar 1s ease-in-out;
                    animation-fill-mode: both;
                    position: absolute;
                    height: 95%;
                    background-color: var(--color-primary);
                }
            }
        }

        &Library
        {
            margin: 2rem 0;

            & li
            {
                display: flex;
                align-items: center;

                & span
                {
                    margin: 0 0.5rem;
                }

                &:not(:last-child)
                {
                    margin-bottom: 0.8rem;
                }
            }

            & svg
            {
                fill: var(--color-primary);
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
            }

            & span
            {
                font-size: 1.2rem;
            }
        }

        &CV
        {
            margin-top: 2rem;

            & a:link,
            & a:visited
            {
                display: flex;
                align-items: center;

                color: var(--color-base-text);
                font-size: 1.2rem;
                font-weight: 400;
                transition: all 0.4s ease-out;
            }

            & a:hover,
            & a:hover svg,
            & a:active
            {
                color: var(--color-base-text-bolder);
                fill: var(--color-base-text-bolder);
            }

            & svg
            {
                fill: var(--color-base-text);
                width: 1.4rem;
                height: 1.4rem;
                margin: 0 0.8rem;
                transition: all 0.4s ease-out;
            }
        }
    }

    &Footer
    {
        background: var(--base-darker);

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & svg
        {
            fill: var(--color-base-text);
            width: 1.4rem;
            height: 1.4rem;
            transition: all 0.4s ease-out;

            &:hover
            {
                fill: var(--color-base-text-bold);
            }
        }
    }
}

@keyframes beat
{
    0%
    {
        opacity: 1;
        height: 1rem;
        width: 1rem;
    }

    100%
    {
        opacity: 0;
        width: 2.5rem;
        height: 2.5rem;
    }
}

@keyframes progress-bar
{
    0%
    {
        width: 0;
    }

    100%
    {
        width: 100%;
    }
}
