.aside
{
    grid-template: aside-start / aside-end;
    display: grid;
    grid-template-rows: 25rem 1fr 5rem;

    overflow: hidden;

    @media only screen and (max-width: 1000px)
    {
        position: fixed;
        top: 0;
        z-index: 101;

        transition: 0.4s;
        left: -100%;
        height: 100%;

        &Footer
        {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 102;

            width: 100%;
            height: 5.5rem;
        }
    }

    &__Open
    {
        transition: 0.4s;
        left: 0;
    }

    &Divider
    {
        display: flex;

        background: var(--color-base-text);
        width: 100%;
        height: 0.1rem;
        opacity: 0.3;
    }

    &User
    {
        background: var(--base-dark);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &Icon
        {
            & svg
            {
                display: none;

                position: absolute;
                right: 2rem;
                top: 2rem;

                width: 2rem;
                height: 2rem;
                fill: var(--color-base-text);

                @media only screen and (max-width: 1000px)
                {
                    display: block;
                }
            }
        }

        &Profile
        {
            position: relative;

            border-radius: 50%;

            & img
            {
                filter: var(--image-filter);
            }
        }

        &Status
        {
            position: absolute;

            margin-bottom: -1rem;
            height: 1.5rem;
            width: 1.5rem;
            background-color: var(--color-primary);
            border-radius: 50%;

            &Parent
            {
                position: absolute;
                bottom: 0.5rem;
                right: 1rem;
                z-index: 100;

                height: 1.5rem;
                width: 1.5rem;

                &::before
                {
                    content: "";

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    opacity: 0;
                    background: var(--color-base-text-bold);
                    height: 1rem;
                    width: 1rem;
                    border-radius: 50%;
                    animation: beat 1s infinite ease-in-out;
                }
            }
        }

        &Name
        {
            margin: 1rem 0;
            color: var(--color-base-text-bold);
            font-size: 1.5rem;
            transition: 0.4s ease-out;
        }

        &Skills
        {
            font-weight: 300;
            font-size: 1.25rem;
            color: var(--color-base-text);
            text-align: center;
            line-height: 2rem;
        }
    }

    &Information
    {
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 2rem 3rem;

        background-color: var(--base-light);

        &::-webkit-scrollbar
        {
            display: none;
        }

        &Language
        {
            display: flex;
            align-items: center;
            justify-content: center;

            margin-bottom: 2rem;

            & li
            {
                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 50%;
                background-color: var(--base-dark);
                font-weight: 600;
                transition: all 0.2s;
                cursor: pointer;
                width: 2.8rem;
                height: 2.8rem;
                margin: auto auto 0.5rem;

                & > a
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 100%;
                    width: 100%;
                    text-shadow: none;
                    filter: none;
                    transition: all 0.2s;
                    color: var(--color-base-text-bold);
                }

                &:hover
                {
                    background-color: var(--base);

                    & > a
                    {
                        color: var(--color-base-text-bold);
                    }
                }
            }

            &__Active
            {
                background-color: var(--color-primary) !important;

                & > a
                {
                    color: var(--base) !important;
                }
            }
        }

        &Personal
        {
            margin-top: 2rem;
            padding-bottom: 1.2rem;

            & li
            {
                margin-bottom: 0.5rem;
            }

            & h3
            {
                display: flex;
                align-items: center;
                justify-content: space-between;

                width: 100%;
                font-weight: 400;
                color: var(--color-base-text-bold);
                font-size: 1.4rem;

                & > span
                {
                    color: var(--color-base-text);
                    font-weight: 300;
                    text-shadow: none;
                }
            }
        }

        &Languages
        {
            display: flex;
            justify-content: center;

            margin-top: 2rem;
            margin-bottom: 2.3rem;

            & li
            {
                display: flex;
                flex-direction: column;
                align-items: center;

                & svg
                {
                    margin: 1rem;
                    width: 5rem;
                    height: 5rem;

                    & path:nth-child(1)
                    {
                        stroke: var(--base);
                    }

                    & path:nth-child(2)
                    {
                        stroke-linecap: var(--stroke-linecap);
                        stroke: var(--color-primary);
                    }

                    & text
                    {
                        fill: var(--color-base-text) !important;
                    }
                }

                & h4
                {
                    color: var(--color-base-text-bold);
                    font-size: 1.2rem;
                    font-weight: 300;
                }
            }
        }

        &Skills
        {
            margin: 3rem 0;

            &Bar
            {
                margin: 1.8rem 0;
            }

            &Info
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;

                & h3
                {
                    color: var(--color-base-text-bolder);
                    font-weight: 500;
                    font-size: 1.35rem;
                }

                & span
                {
                    color: var(--color-base-text);
                    font-weight: 300;
                    font-size: 1.25rem;
                }
            }

            &Progress
            {
                position: relative;

                height: 0.5rem;
                width: 100%;
                border-radius: var(--border-radius);
                background-color: var(--base);

                & span
                {
                    position: absolute;

                    width: 100%;
                    height: 95%;
                    border-radius: var(--border-radius);
                    background-color: var(--color-primary);
                }
            }
        }

        &Library
        {
            margin: 2rem 0;

            & li
            {
                display: flex;
                align-items: center;

                & > p
                {
                    margin-left: 0.5rem;

                    & > span:not(:first-child)
                    {
                        margin-left: 0.5rem;
                    }
                }

                &:not(:last-child)
                {
                    margin-bottom: 0.8rem;
                }
            }

            & svg
            {
                fill: var(--color-primary);
                width: 2rem;
                height: 2rem;
            }

            & span
            {
                font-size: 1.2rem;
            }
        }

        &CV
        {
            margin-top: 2rem;

            & a:link,
            & a:visited
            {
                display: flex;
                align-items: center;

                color: var(--color-base-text);
                font-size: 1.2rem;
                font-weight: 400;
                transition: all 0.4s ease-out;
            }

            & a:hover,
            & a:hover svg,
            & a:active
            {
                color: var(--color-base-text-bolder);
                fill: var(--color-base-text-bolder);
            }

            & svg
            {
                fill: var(--color-base-text);
                width: 1.4rem;
                height: 1.4rem;
                margin: 0 0.8rem;
                transition: all 0.4s ease-out;
            }
        }
    }

    &Footer
    {
        background: var(--base-dark);

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & svg
        {
            fill: var(--color-base-text);
            width: 1.4rem;
            height: 1.4rem;
            transition: all 0.4s ease-out;

            &:hover
            {
                fill: var(--color-base-text-bold);
            }
        }
    }
}

@keyframes beat
{
    0%
    {
        opacity: 1;
        height: 1rem;
        width: 1rem;
    }

    100%
    {
        opacity: 0;
        width: 2.5rem;
        height: 2.5rem;
    }
}

html[data-language="fa"]
{
    .aside
    {
        @media only screen and (max-width: 1000px)
        {
            left: auto;
            right: -100%;

            &Footer
            {
                left: auto;
                right: 0;
            }
        }

        &UserIcon svg
        {
            right: auto;
            left: 2rem;
        }

        &__Open
        {
            transition: 0.4s;
            right: 0;
        }
    }
}
