.button
{
    text-transform: uppercase;
    padding: 1.5rem 3.5rem;
    color: var(--color-base-text-bold);
    background: var(--color-primary);
    font-weight: 600;
    border: none;
    transition: 0.2s ease-in-out;
    border-radius: 1rem;
    cursor: pointer;

    &:hover
    {
        color: var(--color-base-text-bolder);
        background: var(--color-primary-light);
    }

    &Secondary
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        text-transform: uppercase;
        transition: 0.2s ease-in-out;
        cursor: pointer;

        &,
        &:link,
        &:visited
        {
            color: var(--color-primary);
            font-weight: 600;
            font-size: 1.1rem;
        }

        & svg
        {
            transition: 0.4s ease-in-out;
            height: 1.4rem;
            width: 1.4rem;
            fill: var(--color-primary-light);
        }

        &:hover
        {
            & svg
            {
                text-shadow: 0 0 1px var(--color-primary-light);
                filter: drop-shadow(0 0 0.2em #bdbdbd);
                margin-left: 0.4rem;
            }
        }
    }
}
