.footer
{
    padding: 0 3rem;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 95;

    @media only screen and (max-width: 1000px)
    {
        padding: 0;
    }

    &Box
    {
        border-radius: 1rem 1rem 0 0;
        padding: 1.6rem 3rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--base-light);
        font-size: 1.1rem;
        font-weight: 500;

        @media only screen and (max-width: 1000px)
        {
            padding: 2rem 3.5rem;
        }

        & a
        {
            display: flex;
            align-items: center;

            color: var(--color-base-text);
            transition: all 0.2s;

            & svg
            {
                width: 2rem;
                height: 2rem;
                margin: 0 0.5rem;
            }

            &:hover
            {
                color: var(--color-primary);
            }
        }
    }
}
