.nav
{
    display: grid;
    grid-template-rows: 7rem 1fr 12rem;

    position: absolute;
    right: 0;
    top: 0;

    width: 8rem;
    height: 100%;
    transition: width 0.4s;

    @media only screen and (max-width: 1000px)
    {
        display: block;

        position: fixed;
        top: 0;
        z-index: 100;
        right: -100%;

        transition: 0.4s;
        width: 27.6517rem;
        height: 100%;
    }

    &Mobile
    {
        display: none;

        @media only screen and (max-width: 1000px)
        {
            display: flex;
            align-items: center;
            justify-content: space-between;

            position: fixed;

            height: 7rem;
            width: 100%;
            padding: 0 3rem;
            background: var(--base-dark);
            z-index: 98;
        }

        &Dots
        {
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 2rem;
            height: 2rem;
            width: 2rem;
            fill: var(--color-base-text);
        }

        &Hamburger
        {
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;

            cursor: pointer;
            transition: all 0.2s;
            width: 2rem;
            height: 2rem;

            &Line,
            &Line::before,
            &Line::after
            {
                content: "";
                position: absolute;
                width: 1.5rem;
                height: 0.3rem;
                background-color: var(--color-base-text);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                transition: all 0.5s ease-in-out;
            }

            &Line::before
            {
                top: -1rem;
            }

            &Line::after
            {
                top: 0.7rem;
            }

            &:hover &Line,
            &:hover &Line::after,
            &:hover &Line::before
            {
                background-color: #fff;
            }

            &Open
            {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;
                padding-right: 1rem;
                transition: all 0.2s;

                &Line,
                &Line::before,
                &Line::after
                {
                    content: "";
                    position: absolute;
                    width: 1.5rem;
                    height: 0.3rem;
                    background-color: var(--color-base-text);
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    transition: all 0.5s ease-in-out;
                }

                &Line::before
                {
                    top: -1rem;
                    transform: rotate(45deg);
                }

                &Line::after
                {
                    top: 0.7rem;
                    transform: rotate(-45deg);
                }

                &:hover &Line::after,
                &:hover &Line::before
                {
                    background-color: #fff;
                }

                &Line
                {
                    background-color: transparent;
                }

                &Line::before,
                &Line::after
                {
                    top: 0;
                }
            }
        }
    }

    &Hamburger
    {
        background: var(--base-dark);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;

        &Line
        {
            position: absolute;
            width: 1.5rem;
            height: 0.3rem;
            background-color: var(--color-base-text);
            top: 3.5rem;
            left: 3.5rem;
            margin: auto;
            z-index: 100;
            transition: background-color 0.5s ease-in-out;

            &::before,
            &::after
            {
                transition: all 0.5s ease-in-out;
                content: "";
                position: absolute;
                width: 1.5rem;
                height: 0.3rem;
                background-color: var(--color-base-text);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }

            &::before
            {
                top: -1rem;
            }

            &::after
            {
                top: 0.7rem;
            }

            &[data-open="true"]
            {
                left: 3rem;
                right: auto;
                background-color: transparent;

                &::before
                {
                    transform: rotate(45deg);
                }

                &::after
                {
                    transform: rotate(-45deg);
                }

                &::before,
                &::after
                {
                    top: 0;
                }
            }

            &:hover,
            &:hover::after,
            &:hover::before
            {
                background-color: var(--color-base-text-bolder);
            }
        }

        @media only screen and (max-width: 1000px)
        {
            width: 100%;
            height: 7rem;

            &:hover &Line
            {
                background-color: transparent;
            }

            &:hover &Line::after,
            &:hover &Line::before
            {
                background-color: var(--color-base-text-bolder);
            }

            &Line
            {
                left: 3rem;
                right: auto;
                background-color: transparent;
            }

            &Line::before
            {
                transform: rotate(45deg);
            }

            &Line::after
            {
                transform: rotate(-45deg);
            }

            &Line::before,
            &Line::after
            {
                top: 0;
            }
        }
    }

    &Content
    {
        background-color: var(--base-light);

        padding-top: 5rem;
        text-align: center;

        &Active
        {
            margin-top: 1rem;

            transform: rotate(90deg);
            transition: opacity 0.2s;

            font-size: 1.2rem;
            font-weight: 500;

            &[data-open="true"]
            {
                opacity: 0 !important;
            }

            @media only screen and (max-width: 1000px)
            {
                opacity: 0 !important;
            }
        }

        &List
        {
            position: absolute;
            top: 50%;

            transition: all 0.2s ease;
            transform: translateY(-50%);
            text-align: left;
            opacity: 0;
            visibility: hidden;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 500;
            width: 100%;
            overflow: hidden;

            & a
            {
                display: flex;

                width: 100%;
                cursor: pointer;
                white-space: pre;
                padding: 0.7rem 3rem;
                color: var(--color-base-text);
                transition: color 0.2s, margin-left 1.35s;

                &:nth-child(1)
                {
                    margin-left: 5rem;
                }

                &:nth-child(2)
                {
                    margin-left: 9rem;
                }

                &:nth-child(3)
                {
                    margin-left: 13rem;
                }

                &:nth-child(4)
                {
                    margin-left: 17rem;
                }

                &:nth-child(5)
                {
                    margin-left: 21rem;
                }

                &:hover
                {
                    color: var(--color-base-text-bold);
                }

                &[data-active="true"]
                {
                    color: var(--color-base-text-bolder);
                }
            }

            &[data-open="true"]
            {
                visibility: visible;
                opacity: 1;
            }
        }

        @media only screen and (max-width: 1000px)
        {
            height: 100%;
        }
    }

    &Themes
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        transition: all 0.8s;
        padding: 1rem 1rem 0;
        background-color: var(--base-dark);

        & > span
        {
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
            background-color: var(--base-light);
            transition: all 0.2s;
            cursor: pointer;
            width: 2.8rem;
            height: 2.8rem;

            &:first-child
            {
                margin-top: 0.5rem;
            }

            &:hover
            {
                background-color: var(--base);
            }

            & svg
            {
                width: 1.25rem;
                height: 1.25rem;
                fill: var(--color-base-text-bold);
            }
        }

        &__Active
        {
            background-color: var(--color-primary) !important;

            & > svg
            {
                fill: var(--base) !important;
            }
        }

        @media only screen and (max-width: 1000px)
        {
            position: absolute;
            bottom: 0;

            transition: 0.4s;
            width: 100%;
            height: 7rem;
        }
    }

    &__Open
    {
        width: 30rem;
        transition: width 0.8s;

        & a
        {
            margin-left: 0 !important;
        }

        & .navThemes
        {
            gap: 1rem;
        }

        @media only screen and (max-width: 1000px)
        {
            right: 0;
        }
    }
}

@keyframes list-transition
{
    to
    {
        margin-right: 0;
    }
}

html[data-language="fa"]
{
    .nav
    {
        right: auto;
        left: 0;

        &Mobile
        {
            direction: initial;
        }

        &ContentActive
        {
            transform: rotate(-90deg);
        }
    }

    @media only screen and (min-width: 1000px)
    {
        .navHamburgerLine
        {
            right: 3rem;
            left: auto;

            transition: all 0.5s ease-in-out;
        }
    }
}
