.tooltip
{
    display: inline-block;

    color: var(--color-base-text-bold);
    padding: 0.5rem 1.5rem;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 0.65rem;
    background: var(--base-darker);
    margin-bottom: 0.25rem;
    box-shadow: 0 0 2rem .5rem var(--base);

    &::after
    {
        content: "";

        position: absolute;
        top: 100%;
        left: 50%;

        margin-top: -.325rem;
        width: .75rem;
        height: .75rem;
        background: var(--base-darker);
        transform: rotate(45deg);
    }

    &[data-placement='left']
    {
        &::after
        {
            top: 40%;
            right: -.3rem;
            left: auto;
        }
    }

    &[data-placement='right']
    {
        &::after
        {
            top: 40%;
            left: -.3rem;
            right: auto;
        }
    }

    &[data-light]
    {
        background: var(--base-light);

        &::after
        {
            border-color: var(--base-light) transparent transparent;
        }
    }
}
