.aside
{
    grid-template: aside-start / aside-end;

    display: grid;
    grid-template-rows: 23.5rem 1fr 5rem;

    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);

    overflow-y: scroll;
    scrollbar-width: none;

    &__divider
    {
        background: #646466;
        width: 100%;
        height: 1px;
        opacity: 0.3;
    }

    &__user
    {
        background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &--profile
        {
            position: relative;
        }

        &--image
        {
            height: 10rem;
            width: 100%;
            border-radius: 50%;
        }

        &--status-parent
        {
            position: absolute;
            bottom: 1.5rem;
            right: 0.4rem;
            height: 1.5rem;
            width: 1.5rem;
        }

        &--status-parent::before
        {
            content: '';
            opacity: 0;
            position: absolute;
            background: #ffffff;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            -webkit-animation: Beat 1s infinite ease-in-out;
            animation: Beat 1s infinite ease-in-out;
            top: 50%;
            left: 50%;
            transform: translate(-53%, -53%);
        }

        &--status
        {
            position: absolute;
            height: 1.5rem;
            width: 1.5rem;
            background-color: #FFC107;
            border-radius: 50%;

            &:hover::after,
            &:hover::before,
            {
                opacity: 1;
            }
        }

        &--status::after
        {
            position: relative;
            content: 'I am available for freelance hire';
            width: 115px;
            display: block;
            padding: 5px 10px;
            top: -10px;
            left: 10px;
            font-size: 10px;
            font-weight: 200;
            color: #8c8c8e;
            -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
            box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
            background: #191923;
            opacity: 0;
            pointer-events: none;
            -webkit-transform: translateX(20px);
            transform: translateX(20px);
            -webkit-transition: 0.4s ease-in-out;
            transition: 0.4s ease-in-out;
            text-align: left;
        }

        &--status::before
        {
            content: '';
            position: absolute;
            height: 5px;
            width: 5px;
            right: 3px;
            top: 5px;
            opacity: 0;
            background: #191923;
            pointer-events: none;
            -webkit-transform: translateX(20px) rotate(45deg);
            transform: translateX(20px) rotate(45deg);
            -webkit-transition: 0.4s ease-in-out;
            transition: 0.4s ease-in-out;
        }

        &--name
        {
            margin: 1rem 0;

            a
            {
                color: #fafafc;
                font-size: 1.2rem;
                transition: 0.4s ease-out;

                &:hover
                {
                    color: #FFC107;
                }
            }
        }

        &--skills
        {
            text-align: center;
        }
    }

    &__information
    {
        background-color: #20202A;
        padding: 2rem 3rem;

        overflow-y: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar
        {
            display: none;
        }

        &--personal
        {
            padding-bottom: 1.2rem;

            li
            {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;
            }

            h6
            {
                color: #fafafc;
                font-size: 1.2rem;
                font-weight: font-weight(font-weight-regular);
            }

            span
            {
                font-size: 1.2rem;
            }
        }

        &--language
        {
            display: flex;
            margin-top: 2rem;
            margin-bottom: 2.3rem;

            div
            {
                display: flex;
                flex-direction: column;
                align-items: center;

                svg
                {
                    margin: 1rem;

                    path
                    {
                        stroke: #FFC107;
                    }

                    path:nth-child(1)
                    {
                        fill: none;
                        stroke: #191923 !important;
                        stroke-width: 3.8;
                    }

                    path:nth-child(2)
                    {
                        fill: none;
                        stroke-width: 2.8;
                        stroke-linecap: round;
                        animation: Progress 1s ease-out forwards;
                    }

                    text
                    {
                        fill: #8c8c8e;
                        font-size: 0.6em;
                        text-anchor: middle;
                    }
                }

                h6
                {
                    font-size: 1.2rem;
                    font-weight: font-weight(font-weight-regular);
                }
            }
        }

        &--skills
        {
            margin: 3rem 0;

            &__bar
            {
                margin: 1.8rem 0;
            }

            &__info
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;

                span:first-child
                {
                    color: #fafafc;
                    font-weight: 500;
                    font-size: 1.2rem;
                }
            }

            &__progress
            {
                position: relative;

                height: 0.4rem;
                width: 100%;
                background-color: #191923;

                span
                {
                    position: absolute;
                    height: 100%;
                    background-color: #FFC107;
                }
            }
        }

        &--library
        {
            margin: 2rem 0;

            li
            {
                display: flex;
                align-items: center;

                &:not(:last-child)
                {
                    margin-bottom: 0.8rem;
                }
            }

            svg
            {
                fill: #ffc107;
                width: 1.2rem;
                height: 1.2rem;
                margin-right: 1rem;
            }

            span
            {
                font-size: 1.2rem;
            }
        }

        &--cv
        {
            margin-top: 2rem;

            a:link,
            a:visited
            {
                display: flex;
                align-items: center;

                color: #8c8c8e;
                font-size: 1.2rem;
                font-weight: font-weight(font-weight-medium);
                transition: all 0.4s ease-out;
            }

            a:hover,
            a:active
            {
                color: #fafafc;
            }

            svg
            {
                fill: #8c8c8e;
                width: 1.4rem;
                height: 1.4rem;
                margin-left: 0.8rem;
            }
        }
    }

    &__footer
    {
        background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        svg
        {
            fill: #8c8c8e;
            width: 1.4rem;
            height: 1.4rem;
            transition: all 0.4s ease-out;

            &:hover
            {
                fill: #fafafc;
            }
        }
    }
}
