.aside
{
    grid-template: aside-start / aside-end;

    display: grid;
    grid-template-rows: 23.5rem 1fr 5rem;

    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);

    &__divider
    {
        background: #646466;
        width: 100%;
        height: 1px;
        opacity: 0.3;
    }

    &__user
    {
        background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &--profile
        {
            position: relative;
        }

        &--image
        {
            height: 10rem;
            width: 100%;
            border-radius: 50%;
        }

        &--status
        {
            position: absolute;
            bottom: 1.5rem;
            right: 0.4rem;
            height: 1.5rem;
            width: 1.5rem;
            background-color: #FFC107;
            border-radius: 50%;
        }

        &--name
        {
            margin: 1rem 0;

            a
            {
                color: #fafafc;
                font-size: 1.2rem;
                transition: 0.4s ease-out;

                &:hover
                {
                    color: #FFC107;
                }
            }
        }

        &--skills
        {
            text-align: center;
        }
    }

    &__information
    {
        background-color: #20202A;

        padding: 2rem 3rem;

        &--personal
        {
            padding-bottom: 1.2rem;

            li
            {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;
            }

            h6
            {
                color: #fafafc;
                font-size: 1.2rem;
                font-weight: font-weight(font-weight-regular);
            }

            span
            {
                font-size: 1.2rem;
            }
        }

        &--language
        {
            display: flex;
            margin-top: 2rem;
            margin-bottom: 2.3rem;

            div
            {
                display: flex;
                flex-direction: column;
                align-items: center;

                svg
                {
                    margin: 1rem;

                    path
                    {
                        stroke: #FFC107;
                    }

                    path:nth-child(1)
                    {
                        fill: none;
                        stroke: #191923 !important;
                        stroke-width: 3.8;
                    }

                    path:nth-child(2)
                    {
                        fill: none;
                        stroke-width: 2.8;
                        stroke-linecap: round;
                        animation: Progress 1s ease-out forwards;
                    }

                    text
                    {
                        fill: #8c8c8e;
                        font-size: 0.6em;
                        text-anchor: middle;
                    }
                }

                h6
                {
                    font-size: 1.2rem;
                    font-weight: font-weight(font-weight-regular);
                }
            }
        }
    }

    &__footer
    {
        background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
    }
}
