.footer
{
    padding: 0 3rem;
    width: 100%;
    display: flex;

    margin: auto;
    margin-bottom: 0;

    &__box
    {
        padding: 1.6rem 3rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
        box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);

        a
        {
            color: #8c8c8e;
            transition: all .2s;

            &:hover
            {
                color: #FFC107;
            }
        }
    }
}
