.main
{
    grid-template: main-start / main-end;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5rem;
    grid-template-areas:
    "content"
    "footer";

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: rgba(30, 30, 40, 0.88);

    position: relative;

    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);

    &::-webkit-scrollbar
    {
        display: none;
    }

    & .footer
    {
        grid-area: footer;
    }

    &__content
    {
        grid-area: content;
        height: 100%;
    }

    &__background
    {
        background-image: linear-gradient(180deg, rgba(30, 30, 40, 0.93) 0%, rgba(30, 30, 40, 0.96) 70%, rgba(30, 30, 40, 0.99) 80%, #1e1e28 100%), url("../Images/background.jpg");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 40rem;
        overflow: hidden;
        position: absolute;
        top: 0;
    }

    @include media-1000
    {
        padding-top: 6rem;
    }
}
