.nav
{
    grid-template: nav-start / nav-end;

    display: grid;
    grid-template-rows: 7rem 1fr 12rem;

    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);

    @include media-1000
    {
        transition: .4s;
        z-index: 100;
        display: block;
        top: 0;
        width: 27.6517rem;
        height: 100%;
        position: absolute;
        right: -27.6517rem;
    }

    &__mobile
    {
        display: none;

        @include media-1000
        {
            height: 70px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 3rem;
            position: fixed;
            background: #20202a;
            z-index: 98;
            box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
        }

        &--3dot
        {
            display: flex;
            margin: auto 0;
            height: 2rem;
            width: 2rem;
            fill: #8c8c8e;
        }

        &--hamburger
        {
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            cursor: pointer;

            padding-right: 1rem;

            transition: all .2s;

            &__line,
            &__line::before,
            &__line::after
            {
                content: '';
                position: absolute;
                width: 1.5rem;
                height: 0.3rem;
                background-color: #8c8c8e;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                transition: all 0.5s ease-in-out;
            }

            &__line::before
            {
                top: -1rem;
            }

            &__line::after
            {
                top: 0.7rem;
            }

            &:hover &__line,
            &:hover &__line::after,
            &:hover &__line::before
            {
                background-color: #ffffff;
            }
        }
    }

    &__hamburger
    {
        background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        cursor: pointer;

        transition: all .2s;

        &--line,
        &--line::before,
        &--line::after
        {
            content: '';
            position: absolute;
            width: 1.5rem;
            height: 0.3rem;
            background-color: #8c8c8e;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transition: all 0.5s ease-in-out;
        }

        &--line::before
        {
            top: -1rem;
        }

        &--line::after
        {
            top: 0.7rem;
        }

        &:hover &--line,
        &:hover &--line::after,
        &:hover &--line::before
        {
            background-color: #ffffff;
        }

        &.open &--line
        {
            background-color: transparent;
        }

        &.open &--line::before
        {
            transform: rotate(45deg);
        }

        &.open &--line::after
        {
            transform: rotate(-45deg);
        }

        &.open &--line::before,
        &.open &--line::after
        {
            top: 0;
        }

        &.open &--line
        {
            transition: all 0s;

            left: 3rem;
            right: auto;
        }

        @include media-1000
        {
            width: 100%;
            height: 7rem;

            &:hover &--line
            {
                background-color: transparent;
            }

            &:hover &--line::after,
            &:hover &--line::before
            {
                background-color: #ffffff;
            }

            &--line
            {
                background-color: transparent;
            }

            &--line::before
            {
                transform: rotate(45deg);
            }

            &--line::after
            {
                transform: rotate(-45deg);
            }

            &--line::before,
            &--line::after
            {
                top: 0;
            }

            &--line
            {
                transition: all 0s;

                left: 3rem;
                right: auto;
            }
        }
    }

    &__content
    {
        background-color: #20202A;
        padding-top: 3rem;
        text-align: center;

        &--active
        {
            transform: rotate(90deg);

            font-size: 1.2rem;
            font-weight: 500;

            @include media-1000
            {
                opacity: 0 !important;
            }
        }

        @include media-1000
        {
            height: 100%;
        }
    }

    &__languages
    {
        background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        &--active
        {
            background-color: #FFC107 !important;
            color: #1e1e28 !important;
        }

        span
        {
            padding: 0.5rem;
            border-radius: 50%;
            background-color: #1E1E28;
            color: #8c8c8e;
            font-weight: 600;
            transition: all .2s;
            cursor: pointer;

            &:not(:last-child)
            {
                margin-bottom: 0.6rem;
            }

            &:hover
            {
                color: #cbcbcb;
                background-color: #1b1b21;
            }
        }

        @include media-1000
        {
            transition: .4s;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 7rem;
        }
    }


    &.open &__content--active
    {
        display: none;
    }

    &.open &__languages
    {
        flex-direction: row;

        span
        {
            margin: 1rem;
        }
    }

    &.open
    {
        @include media-1000
        {
            right: 0;
        }
    }
}
