.nav
{
    grid-template: nav-start / nav-end;

    display: grid;
    grid-template-rows: 7rem 1fr 12rem;

    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);

    &__hamburger
    {
        background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        cursor: pointer;

        &--line,
        &--line::before,
        &--line::after
        {
            content: '';
            position: absolute;
            width: 1.5rem;
            height: 0.3rem;
            background-color: #8c8c8e;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transition: all 0.5s ease-in-out;
        }

        &--line::before
        {
            top: -1rem;
        }

        &--line::after
        {
            top: 0.7rem;
        }

        &:hover &--line,
        &:hover &--line::after,
        &:hover &--line::before
        {
            background-color: #ffffff;
        }

        &.open &--line
        {
            background-color: transparent;
        }

        &.open &--line::before
        {
            transform: rotate(45deg);
        }

        &.open &--line::after
        {
            transform: rotate(-45deg);
        }

        &.open &--line::before,
        &.open &--line::after
        {
            top: 0;
        }
    }

    &__content
    {
        background-color: #20202A;
        padding-top: 3rem;
        text-align: center;

        &--active
        {
            transform: rotate(90deg);
            font-size: 1.2rem;
            font-weight: font-weight(font-weight(font-weight-bold));
        }
    }

    &__languages
    {
        background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        &--active
        {
            background-color: #FFC107 !important;
            color: #1e1e28 !important;
        }

        span
        {
            padding: 0.5rem;
            border-radius: 50%;
            background-color: #1E1E28;
            color: #8c8c8e;
            font-weight: 600;

            &:not(:last-child)
            {
                margin-bottom: 0.6rem;
            }
        }
    }
}

.nav.open .nav__content--active
{
    display: none;
}

.nav.open .nav__languages
{
    flex-direction: row;
}
.nav.open .nav__languages span
{
    margin: 1rem;
}
.nav__hamburger.open .nav__hamburger--line
{
    transition: all 0s;

    left: 3rem;
    right: auto;
}
