.repository
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 12rem;
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    padding: 3rem;

    &Info
    {
        & span
        {
            font-size: 1.4rem;
            font-weight: 600;
            color: #fafafc;
        }

        & p
        {
            padding-top: 1rem;
            line-height: 1.7;
            font-size: 1.1rem;
            font-weight: 500;
            color: #8c8c8e;
        }
    }

    &Stats
    {
        margin-top: auto;

        display: flex;
        align-items: center;
        gap: 1rem;

        &Item
        {
            border-radius: 10rem;
            padding: 0.5rem 1.25rem;
            background-color: #1e1e28;
            color: #8c8c8e;
            font-weight: 600;
            transition: all 0.2s;
            cursor: pointer;

            & a
            {
                display: flex;
                align-items: center;

                & svg
                {
                    color: #ffc107;
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: 0.5rem;
                }

                & span
                {
                    color: #8c8c8e;
                }
            }
        }
    }
}
