.footer
{
    padding: 0 3rem;

    &Box
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1.6rem 3rem;
        background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
        box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
        font-size: 1.1rem;
        font-weight: 500;

        & span
        {
            color: #8c8c8e;
        }

        & a
        {
            color: #8c8c8e;
            transition: all .2s;
            display: flex;
            align-items: center;

            &:hover
            {
                color: #FFC107;
            }

            & svg
            {
                margin-right: .5rem;
            }
        }
    }
}
