.aside
{
    grid-template: aside-start / aside-end;

    display: grid;
    grid-template-rows: 23.5rem 1fr 5rem;

    box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);

    overflow: hidden;

    &__divider
    {
        background: #646466;
        width: 100%;
        height: 1px;
        opacity: 0.3;
    }

    &User
    {
        display: flex;
        flex-direction: column;
        justify-content: center;

        background: linear-gradient(159deg, rgb(37 37 50 / 98%) 0%, rgb(35 35 45 / 98%) 100%);

        &ImageContainer
        {
            display: grid;
            place-items: center;

            position: relative;

            &Status
            {
                position: absolute;
                right: 10.4rem;
                bottom: 1rem;

                height: 1.5rem;
                width: 1.5rem;
                background-color: #ffc107;
                border-radius: 50%;
            }
        }

        &Image
        {
            border-radius: 50%;
        }

        &InfoContainer
        {
            display: grid;
            place-items: center;
        }

        &Name
        {
            color: #fafafc;
            font-size: 1.2rem;
            transition: 0.4s ease-out;
            margin: 1rem 0;
            font-weight: 600;

            &:hover
            {
                color: #ffc107;
            }
        }

        &Title
        {
            color: #8c8c8e;
        }
    }

    &Information
    {
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar
        {
            display: none;
        }

        background-color: #20202a;
        padding: 2rem 3rem;

        &WebLanguages
        {
            display: flex;

            padding-bottom: 1.2rem;

            &Option
            {
                display: grid;
                place-items: center;

                font-weight: 600;
                transition: all 0.2s;
                cursor: pointer;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: #252531;
                color: #8c8c8e;
                margin: auto auto 0.5rem;

                &Active
                {
                    background-color: #ffc107;
                    color: #1e1e28;
                }
            }
        }

        &Personal
        {
            &List
            {
                padding: 1.2rem 0;

                &Item
                {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 0.5rem;

                    & span:nth-child(1)
                    {
                        color: #fafafc;
                        font-size: 1.2rem;
                        font-weight: 300;
                    }

                    & span:nth-child(2)
                    {
                        font-size: 1.2rem;
                        color: #8c8c8e;
                    }
                }
            }

            &Languages
            {
                display: flex;
                justify-content: center;

                margin-top: 2rem;
                margin-bottom: 2.3rem;

                &Content
                {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & span
                    {
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: #fafafc;
                    }

                    & svg
                    {
                        margin: 1rem;
                        width: 5rem;
                        height: 5rem;

                        & path
                        {
                            stroke: #ffc107;
                        }

                        path:nth-child(1)
                        {
                            fill: none;
                            stroke: #191923;
                            stroke-width: 3.8;
                        }

                        path:nth-child(2)
                        {
                            fill: none;
                            stroke-width: 2.8;
                            stroke-linecap: round;
                        }

                        & text
                        {
                            fill: #8c8c8e;
                            font-size: 0.6em;
                            text-anchor: middle;
                        }
                    }
                }
            }
        }

        &Skills
        {
            margin: 3rem 0;

            &Bar
            {
                margin: 1.8rem 0;

                &Info
                {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    margin-bottom: 1rem;

                    & span:first-child
                    {
                        color: #fafafc;
                        font-weight: 500;
                        font-size: 1.2rem;
                    }

                    & span:last-child
                    {
                        color: #8c8c8e;
                    }
                }

                &Progress
                {
                    position: relative;

                    height: 0.5rem;
                    width: 100%;
                    border-radius: 5rem;
                    background-color: #191923;

                    &Active
                    {
                        position: absolute;
                        border-radius: 5rem;
                        height: 95%;
                        background-color: #ffc107;
                    }
                }
            }
        }

        &LibrariesList
        {
            margin: 2rem 0;

            &Items
            {
                display: flex;
                align-items: center;

                &:not(:last-child)
                {
                    margin-bottom: 0.4rem;
                }

                & svg
                {
                    fill: #ffc107;
                    width: 2rem;
                    height: 2rem;
                    margin-right: 1rem;
                }

                & span
                {
                    font-size: 1.2rem;
                    color: #8c8c8e;
                }
            }
        }

        &CV
        {
            margin-top: 2rem;

            &:link,
            &:visited
            {
                display: flex;
                align-items: center;

                color: #8c8c8e;
                font-size: 1.2rem;
                font-weight: 400;
                transition: all 0.4s ease-out;
            }

            &:hover,
            &:hover svg,
            &:active
            {
                color: #fafafc;
                fill: #fafafc;
            }

            & svg
            {
                fill: #8c8c8e;
                width: 2rem;
                height: 2rem;
                margin-left: 0.8rem;
                transition: all 0.4s ease-out;
            }
        }
    }

    &Footer
    {
        background: linear-gradient(159deg, rgb(37 37 50 / 98%) 0%, rgb(35 35 45 / 98%) 100%);

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & svg
        {
            fill: #8c8c8e;
            width: 1.4rem;
            height: 1.4rem;
            transition: all 0.4s ease-out;

            &:hover
            {
                fill: #fafafc;
            }
        }
    }
}
