html
{
    --color-primary: #4f40f8;
    --color-primary-dark: #2d20c9;
    --color-primary-darker: #281cb3;
    --color-primary-light: #7667ff;
    --color-primary-lighter: #988eff;

    --color-base-text: #a7a7a7;
    --color-base-text-bold: #e1e1e1;
    --color-base-text-bolder: #fff;

    --base: #191923;
    --base-light: #2d2d38;
    --base-lighter: #454552;
    --base-dark: #20202a;
    --base-darker: #14141a;
}

$break-points:
        (
                "break-point-600": 37.5em,   // 600px
                "break-point-900": 56.25em,  // 900px
                "break-point-1000": 62.5em,  // 1000px
                "break-point-1100": 68.75em, // 1100px
                "break-point-1200": 75em,    // 1200px
                "break-point-1300": 81.25em, // 1300px
                "break-point-1400": 87.5em,  // 1400px
                "break-point-1800": 112.5em, // 1800px
        );
