.main
{
    display: grid;
    grid-template-columns: calc(100vw - 38rem);

    @media only screen and (max-width: 1000px)
    {
        grid-template-columns: 100%;
    }

    position: relative;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    background: var(--base);

    &::-webkit-scrollbar
    {
        display: none;
    }

    &Filter
    {
        position: fixed;
        z-index: 100;

        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.2s;
        background: var(--base-transparent-dark);
    }

    &Background
    {
        position: absolute;
        top: 0;

        background-image: var(--base-gradiant-image-2);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 40rem;
        overflow: hidden;
    }

    &HandleToggle
    {
        display: none;

        @media screen and (max-width: 1000px)
        {
            z-index: 100;

            display: flex;
            align-items: center;
            justify-content: space-between;

            height: 7rem;

            padding: 2rem 3rem;
            background: var(--base-darker);

            & svg
            {
                cursor: pointer;
                font-size: 2rem;
                color: var(--color-base-text-shadow);
            }
        }
    }
}
