.main
{
    grid-template: main-start / main-end;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    background: var(--base);

    &::-webkit-scrollbar
    {
        display: none;
    }

    &Filter
    {
        @media screen and (max-width: 1000px)
        {
            position: fixed;
            z-index: 100;

            width: 100%;
            height: 100%;
            opacity: 1;
            visibility: visible;
            transition: opacity 0.2s;
            background: var(--base-transparent-dark);
        }
    }

    &Background
    {
        background-image: var(--base-gradiant-image-2);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 40rem;
        overflow: hidden;
    }

    &HandleToggle
    {
        display: none;

        @media screen and (max-width: 1000px)
        {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 2rem 3rem;

            & svg
            {
                cursor: pointer;
                font-size: 2rem;
                color: var(--color-base-text-shadow);
            }
        }
    }
}
