.contact
{
    position: relative;
    z-index: 95;
    height: auto;
    width: 100%;

    &Information
    {
        padding: 0 3rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 2rem;

        @media only screen and (max-width: 1000px)
        {
            padding: 0 1.5rem;
        }

        &Content
        {
            border-radius: 1rem;
            background: var(--base-light);
            box-shadow: 0 3px 8px 0 var(--base-transparent);
            padding: 3rem;
            min-height: 20rem;

            &Personal
            {
                padding-bottom: 1.2rem;
                height: 100%;

                ul
                {
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                li
                {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                h6
                {
                    color: var(--color-base-text-bolder);
                    font-size: 1.2rem;
                    font-weight: 300;
                }

                span
                {
                    font-size: 1.2rem;
                }
            }
        }
    }

    &InTouch
    {
        background: var(--base-light);
        box-shadow: 0 3px 8px 0 var(--base-transparent);
        padding: 3rem;
        height: 100%;
        width: 100%;
        border-radius: 1rem;

        &Parent
        {
            width: 100%;
            padding: 0 3rem;
            display: flex;
            justify-content: center;
            align-items: center;

            @media only screen and (max-width: 1000px)
            {
                padding: 0 1.5rem;
            }
        }

        &Form
        {
            &Group
            {
                display: flex;
                margin: auto;
                height: 5rem;
                direction: ltr;

                & button
                {
                    margin-top: 2rem;
                }

                & label
                {
                    direction: ltr;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5rem;
                    color: var(--color-base-text);
                    height: 100%;
                    min-width: 5rem;
                    width: 5rem;
                    background: var(--base-dark);
                    transition: 0.4s ease-in-out;
                    border-radius: 1rem 0 0 1rem;
                }

                & input,
                & textarea
                {
                    direction: ltr;
                    resize: none;
                    height: 100%;
                    width: 100%;
                    background: var(--base);
                    border: none;
                    color: var(--color-base-text-bolder);
                    padding: 2rem 2rem 2rem 1rem;
                    transition: 0.4s ease-in-out;
                    border-radius: 0 1rem 1rem 0;

                    &:focus-within + label
                    {
                        color: var(--base-dark);
                        background: var(--color-primary);
                    }

                    &:focus
                    {
                        border: none;
                        outline: none;
                    }

                    &::placeholder
                    {
                        color: var(--color-base-text);
                    }
                }

                &Input
                {
                    margin-bottom: 3rem;
                    direction: rtl;
                }

                &MessageInput
                {
                    height: 15rem;
                    margin-bottom: 3rem;
                    direction: rtl;

                    & input,
                    & textarea,
                    & label
                    {
                        height: 100%;
                    }
                }
            }
        }
    }
}

html[data-language='fa']
{
    .contact
    {
        &InTouch
        {
            &FormGroup
            {
                direction: rtl;

                &.input
                {
                    direction: ltr;
                }

                & label
                {
                    direction: ltr;
                    border-radius: 0 1rem 1rem 0;
                }

                & input,
                & textarea
                {
                    direction: rtl;
                    border-radius: 1rem 0 0 1rem;
                }
            }
        }
    }
}
