.portfolio
{
    position: relative;
    z-index: 95;
    height: auto;
    width: 100%;

    &Image
    {
        position: absolute;
        z-index: 105;

        border-radius: 1rem;
        visibility: visible;
        transition: all .3s ease-in-out;

        & nav
        {
            height: 7rem;
            width: 100%;
            display: flex;
            justify-content: right;
            padding: 0 3rem;
            position: fixed;
            background: var(--base-dark);
            z-index: 98;
            box-shadow: 0 3px 8px 0 var(--base-transparent);
        }
        & img
        {
            transition: all .2s ease-in-out;
            max-width: 80%;
            max-height: 70%;
            border-radius: 1rem;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;

            @media only screen and (max-width: 1000px)
            {
                max-width: 90%;
            }
            @media only screen and (max-width: 900px)
            {
                max-width: 96%;
            }
        }
    }

    &List
    {
        padding: 0 3rem;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;

        @media only screen and (max-width: 1400px)
        {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &Item
    {
        border-radius: 1rem;
        transition: all .35s;
        position: relative;
        background: var(--base-lighter);
        box-shadow: 0 3px 8px 0 var(--base-transparent);
        min-height: 30rem;
        overflow: hidden;

        &Box
        {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 70%;
            position: absolute;
            bottom: -70%;
            z-index: 96;
            padding: 3rem;
            background: var(--base-light);
            box-shadow: 0 3px 8px 0 var(--base-transparent);
            transition: 0.55s ease-in-out;

            & h2
            {
                width: 100%;
                font-size: 15px;
                font-weight: 600;
                color: var(--color-base-text-bold);
                margin-bottom: 1rem;
            }

            & p
            {
                width: 100%;
                font-size: 13px;
                font-weight: 400;
                margin-bottom: 1.5rem;
            }

            & .button-secondary
            {
                width: 100%;
                display: flex;
                margin: auto auto 0;
            }
        }

        & img
        {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
            filter: brightness(85%) blur(0);
            transition: 0.4s ease-in-out;
        }

        & i
        {
            opacity: 0;
            color: var(--color-base-text-bold);
            background: var(--base-light);
            border-radius: 50%;
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
            font-size: 1.2rem;
            padding: .8rem 1rem 1rem;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s ease-in-out;
            cursor: pointer;

            &:hover
            {
                color: var(--color-base-text-bolder);
                background: var(--base-dark);
            }
        }

        &:hover
        {
            & i
            {
                opacity: 1;
            }

            & img
            {
                transform: scale(1.07);
                filter: brightness(100%) blur(0);
            }

            & .portfolioItemBox
            {
                bottom: 0;
            }
        }


        @media only screen and (max-width: 1000px)
        {
            min-height: 40rem;

            & img
            {
                height: 55%;
                bottom: 45%;
            }

            &Box
            {
                height: 45%;
                position: absolute;
                bottom: 0;
            }
        }
    }
}
