.button
{
    text-transform: uppercase;
    padding: 1.5rem 3.5rem;
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    color: var(--color-base-text-bold);
    background: var(--color-primary);
    font-weight: 600;
    border: none;
    transition: 0.2s ease-in-out;
    border-radius: 1rem;
    cursor: pointer;

    &:hover
    {
        color: var(--color-base-text-bolder);
        background: var(--color-primary-light);
    }

    &Secondary
    {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        transition: 0.2s ease-in-out;
        cursor: pointer;

        &,
        &:link,
        &:visited
        {
            color: var(--color-primary);
            font-weight: 600;
            font-size: 1.1rem;
        }

        & svg
        {
            transition: 0.4s ease-in-out;
            height: 1.5rem;
            width: 1.5rem;
            fill: var(--color-primary-light);
        }

        &:hover
        {
            & svg
            {
                text-shadow: 0 0 1px var(--color-primary-light);
                filter: drop-shadow(0 0 0.2em #bdbdbd);
                margin-left: .4rem;
            }
        }
    }
}

html[data-language='fa']
{
    & #buttonSecondary
    {
        svg
        {
            transform: rotate(-180deg);
        }

        &:hover
        {
            svg
            {
                margin-right: .4rem;
            }
        }
    }

    & #button
    {
        padding: 1rem 3rem;
        font-size: 1.5rem;
    }
}
