html[data-theme="matrix"]
{
    --color-primary: #20c20e;
    --color-primary-dark: #189d0a;
    --color-primary-light: #2fda1c;
    --color-base-text: #9aa595;
    --color-base-text-bold: #dae3d7;
    --color-base-text-bolder: #f5f8f2;
    --base: #000;
    --base-light: #090909;
    --base-dark: #0c0c0c;
    --border-radius: 0;
    --stroke-linecap: none;
    --background-size: none;
    --image-filter: grayscale(100%);
    --base-transparent-dark: rgb(0 0 0 / 80%);
    --base-transparent-darker: rgb(0 0 0 / 90%);
    --base-gradiant-image:
        linear-gradient(
            180deg,
            rgb(12 12 12 /  70%) 0%,
            rgb(12 12 12 /  75%) 70%,
            rgb(12 12 12 /  80%) 80%,
            rgb(12 12 12 / 85%) 90%
        ),
        url("../../../public/static/images/background-matrix.gif") center;
    --base-gradiant-image-2:
        linear-gradient(
            180deg,
            rgb(0 0 0 / 70%) 0%,
            rgb(0 0 0 / 80%) 70%,
            rgb(0 0 0 / 90%) 80%,
            #000 100%
        ),
        url("../../../public/static/images/background-matrix-2.png");
    --base-gradiant-image-football:
        radial-gradient(
            rgb(0 0 0 / 50%) 0%,
            rgb(0 0 0 / 60%) 10%,
            rgb(0 0 0 / 70%) 50%,
            rgb(0 0 0 / 80%) 80%
        ),
        url("../../../public/static/images/hobbies/background-football.jpg");
    --base-gradiant-image-instagram:
        radial-gradient(
            rgb(0 0 0 / 70%) 0%,
            rgb(0 0 0 / 80%) 10%,
            rgb(0 0 0 / 90%) 50%,
            rgb(11 11 11 / 95%) 80%
        ),
        url("../../../public/static/images/hobbies/background-ig.jpg");
    --base-gradiant-image-discord:
        radial-gradient(
            rgb(0 0 0 / 70%) 0%,
            rgb(0 0 0 / 80%) 10%,
            rgb(0 0 0 / 90%) 50%,
            rgb(0 0 0 / 95%) 80%
        ),
        url("../../../public/static/images/hobbies/background-discord.jpg");
    --base-gradiant-image-cod:
        radial-gradient(
            rgb(0 0 0 / 50%) 0%,
            rgb(0 0 0 / 60%) 10%,
            rgb(0 0 0 / 70%) 50%,
            rgb(0 0 0 / 80%) 80%
        ),
        url("../../../public/static/images/hobbies/background-cod.jpg");
    --base-gradiant-image-music:
        radial-gradient(
            rgb(0 0 0 / 50%) 0%,
            rgb(0 0 0 / 60%) 10%,
            rgb(0 0 0 / 70%) 50%,
            rgb(0 0 0 / 80%) 80%
        ),
        url("../../../public/static/images/hobbies/background-shadmehr-aghili.png");
    --base-gradiant-image-guitar:
        radial-gradient(
            rgb(0 0 0 / 60%) 0%,
            rgb(0 0 0 / 70%) 10%,
            rgb(0 0 0 / 80%) 50%,
            rgb(0 0 0 / 90%) 80%
        ),
        url("../../../public/static/images/hobbies/background-guitar.jpg");
    --base-gradiant-image-rarible:
        radial-gradient(
            rgb(0 0 0 / 50%) 0%,
            rgb(0 0 0 / 60%) 10%,
            rgb(0 0 0 / 70%) 50%,
            rgb(0 0 0 / 80%) 80%
        ),
        url("../../../public/static/images/hobbies/background-rarible.jpg");
    --base-gradiant-image-space:
        radial-gradient(
            rgb(0 0 0 / 50%) 0%,
            rgb(0 0 0 / 60%) 10%,
            rgb(0 0 0 / 70%) 50%,
            rgb(0 0 0 / 80%) 80%
        ),
        url("../../../public/static/images/hobbies/background-space.jpg");
}

html[data-theme="dim"]
{
    --color-primary: #5294e2;
    --color-primary-dark: #4385d4;
    --color-primary-light: #64a1ea;
    --color-base-text: #a7a7a7;
    --color-base-text-bold: #e1e1e1;
    --color-base-text-bolder: #fff;
    --base: #383c4a;
    --base-light: #464b5a;
    --base-dark: #404350;
    --border-radius: 1rem;
    --stroke-linecap: round;
    --background-size: cover;
    --base-transparent-dark: rgb(20 20 26 / 80%);
    --base-transparent-darker: rgb(20 20 26 / 90%);
    --base-gradiant-image:
        linear-gradient(
            180deg,
            rgb(76 76 102 / 70%) 0%,
            rgb(78 78 97 / 70%) 70%,
            rgb(70 70 88 / 75%) 80%,
            rgb(64 64 82 / 80%) 90%
        ),
        url("../../../public/static/images/background-dim.jpg") center;
    --base-gradiant-image-2:
        linear-gradient(
            180deg,
            rgb(42 46 59 / 94%) 0%,
            rgb(45 49 62) 70%,
            rgb(49 53 66) 80%,
            rgb(55 59 73) 100%
        ),
        url("../../../public/static/images/background-dim-2.jpg");
    --base-gradiant-image-football:
        radial-gradient(
            rgb(44 47 59 / 50%) 0%,
            rgb(49 49 59 / 60%) 10%,
            rgb(46 46 56 / 70%) 50%,
            rgb(47 47 62 / 80%) 80%
        ),
        url("../../../public/static/images/hobbies/background-football.jpg");
    --base-gradiant-image-instagram:
        radial-gradient(
            rgb(45 50 62 / 70%) 0%,
            rgb(46 46 57 / 80%) 10%,
            rgb(46 46 57 / 90%) 50%,
            rgb(43 43 57 / 95%) 80%
        ),
        url("../../../public/static/images/hobbies/background-ig.jpg");
    --base-gradiant-image-discord:
        radial-gradient(
            rgb(39 42 54 / 70%) 0%,
            rgb(46 46 57 / 80%) 10%,
            rgb(47 47 59 / 90%) 50%,
            rgb(43 43 57 / 95%) 80%
        ),
        url("../../../public/static/images/hobbies/background-discord.jpg");
    --base-gradiant-image-cod:
        radial-gradient(
            rgb(45 49 62 / 50%) 0%,
            rgb(51 51 62 / 60%) 10%,
            rgb(40 40 50 / 70%) 50%,
            rgb(46 46 62 / 80%) 80%
        ),
        url("../../../public/static/images/hobbies/background-cod.jpg");
    --base-gradiant-image-music:
        radial-gradient(
            rgb(45 49 62 / 60%) 0%,
            rgb(41 41 52 / 70%) 10%,
            rgb(37 37 47 / 80%) 50%,
            rgb(41 41 54 / 90%) 80%
        ),
        url("../../../public/static/images/hobbies/background-shadmehr-aghili.png");
    --base-gradiant-image-guitar:
        radial-gradient(
            rgb(39 43 54 / 60%) 0%,
            rgb(45 45 56 / 70%) 10%,
            rgb(41 41 52 / 80%) 50%,
            rgb(38 38 50 / 90%) 80%
        ),
        url("../../../public/static/images/hobbies/background-guitar.jpg");
    --base-gradiant-image-rarible:
        radial-gradient(
            rgb(39 43 54 / 50%) 0%,
            rgb(45 45 56 / 60%) 10%,
            rgb(41 41 52 / 70%) 50%,
            rgb(38 38 50 / 80%) 80%
        ),
        url("../../../public/static/images/hobbies/background-rarible.jpg");
    --base-gradiant-image-space:
        radial-gradient(
            rgb(51 55 68 / 50%) 0%,
            rgb(53 53 66 / 60%) 10%,
            rgb(43 43 54 / 70%) 50%,
            rgb(47 47 61 / 80%) 80%
        ),
        url("../../../public/static/images/hobbies/background-space.jpg");
}

html[data-theme="light"]
{
    --color-primary: #3729cc;
    --color-primary-dark: #2419a7;
    --color-primary-light: #5d4ee1;
    --color-base-text: #20202a;
    --color-base-text-bold: #191923;
    --color-base-text-bolder: #101015;
    --base: #e4e9f4;
    --base-light: #d6dbed;
    --base-dark: #ccd0df;
    --border-radius: 1rem;
    --stroke-linecap: round;
    --background-size: cover;
    --base-transparent: rgb(176 191 220 / 50%);
    --base-transparent-dark: rgb(55 55 57 / 65%);
    --base-transparent-darker: rgb(40 40 42 / 80%);
    --base-gradiant-image:
        linear-gradient(
            180deg,
            rgb(213 215 222 / 70%) 0%,
            rgb(226 229 234 / 70%) 50%,
            rgb(239 241 245 / 70%) 70%,
            rgb(255 255 255 / 70%) 90%
        ),
        url("../../../public/static/images/background-dim.jpg") center;
    --base-gradiant-image-2:
        linear-gradient(
            180deg,
            rgb(196 200 215 / 80%) 0%,
            rgb(218 221 231 / 90%) 70%,
            rgb(218 223 229 / 95%) 80%,
            rgb(231 233 243) 100%
        ),
        url("../../../public/static/images/background-dim-2.jpg");
    --base-gradiant-image-football:
        radial-gradient(
            rgb(235 236 241 / 50%) 0%,
            rgb(228 231 236 / 50%) 10%,
            rgb(235 236 239 / 50%) 50%,
            rgb(227 231 238 / 50%) 80%
        ),
        url("../../../public/static/images/hobbies/background-football.jpg");
    --base-gradiant-image-instagram:
        radial-gradient
        (rgb(209 212 226 / 80%) 0%, rgb(226 227 234 / 80%) 10%,
        rgb(220 223 231 / 80%) 50%, rgb(214 217 227 / 80%) 80%),
        url("../../../public/static/images/hobbies/background-ig.jpg");
    --base-gradiant-image-discord:
        radial-gradient(
            rgb(188 193 203 / 80%) 0%,
            rgb(198 201 213 / 80%) 10%,
            rgb(216 219 227 / 80%) 50%,
            rgb(201 204 210 / 80%) 80%
        ),
        url("../../../public/static/images/hobbies/background-discord.jpg");
    --base-gradiant-image-cod:
        radial-gradient(
            rgb(235 237 241 / 50%) 0%,
            rgb(239 241 245 / 50%) 10%,
            rgb(230 231 236 / 50%) 50%,
            rgb(226 228 236 / 50%) 80%
        ),
        url("../../../public/static/images/hobbies/background-cod.jpg");
    --base-gradiant-image-music:
        radial-gradient(
            rgb(235 236 241 / 50%) 0%,
            rgb(241 244 246 / 50%) 10%,
            rgb(236 238 245 / 50%) 50%,
            rgb(242 243 246 / 50%) 80%
        ),
        url("../../../public/static/images/hobbies/background-shadmehr-aghili.png");
    --base-gradiant-image-guitar:
        radial-gradient(
            rgb(235 237 241 / 50%) 0%,
            rgb(230 231 238 / 50%) 10%,
            rgb(240 241 246 / 50%) 50%,
            rgb(241 243 246 / 50%) 80%
        ),
        url("../../../public/static/images/hobbies/background-guitar.jpg");
    --base-gradiant-image-rarible:
        radial-gradient(
            rgb(235 236 241 / 50%) 0%,
            rgb(231 233 238 / 50%) 10%,
            rgb(234 236 241 / 50%) 50%,
            rgb(214 219 227 / 50%) 80%
        ),
        url("../../../public/static/images/hobbies/background-rarible.jpg");
    --base-gradiant-image-space:
        radial-gradient(
            rgb(235 236 241 / 50%) 0%,
            rgb(231 233 238 / 50%) 10%,
            rgb(234 236 241 / 50%) 50%,
            rgb(214 217 227 / 50%) 80%
        ),
        url("../../../public/static/images/hobbies/background-space.jpg");
}
