html[data-theme='dark']
{
    --color-primary: #4f40f8;
    --color-primary-dark: #2d20c9;
    --color-primary-darker: #281cb3;
    --color-primary-light: #7667ff;
    --color-primary-lighter: #988eff;

    --color-base-text: #a7a7a7;
    --color-base-text-bold: #e1e1e1;
    --color-base-text-bolder: #fff;
    --color-base-text-shadow: rgba(250, 250, 252, 0.4);

    --base: #191923;
    --base-light: #272734;
    --base-lighter: #343442;
    --base-dark: #22222f;
    --base-darker: #1e1e2b;
    --base-transparent: rgba(33, 33, 42, 0.2);
    --base-transparent-dark: rgba(20, 20, 26, 0.9);
    --base-transparent-darker: rgba(20, 20, 26, 0.98);
    --base-gradiant: linear-gradient(159deg, rgb(38, 38, 54) 0%, rgb(46, 46, 59) 100%);
    --base-gradiant-image: linear-gradient(180deg, rgba(30, 30, 40, 0.75) 0%, rgba(30, 30, 40, 0.80) 70%, rgba(30, 30, 40, 0.85) 80%, rgba(30, 30, 40, 0.85) 90%), url('../../public/static/images/background_dark.jpg');
    --base-gradiant-image-2: linear-gradient(180deg, rgba(35, 35, 45, 0.95) 0%, rgb(32, 32, 43) 70%, rgb(32, 32, 43) 80%, #191923 100%), url('../../public/static/images/background_dark-2.jpg');
    --base-gradiant-image_football: radial-gradient(rgba(26, 29, 38, 0.5) 0%, rgba(26, 26, 33, 0.6) 10%, rgba(24, 24, 31, 0.7) 50%, rgba(29, 29, 40, 0.8) 80%), url('../../public/static/images/funny/background_football.jpg');
    --base-gradiant-image_instagram: radial-gradient(rgba(26, 29, 38, 0.7) 0%, rgba(26, 26, 33, 0.8) 10%, rgba(24, 24, 31, 0.9) 50%, rgba(29, 29, 40, 0.95) 80%), url('../../public/static/images/funny/background_ig.jpg');
    --base-gradiant-image_discord: radial-gradient(rgba(26, 29, 38, 0.7) 0%, rgba(26, 26, 33, 0.8) 10%, rgba(24, 24, 31, 0.9) 50%, rgba(29, 29, 40, 0.95) 80%), url('../../public/static/images/funny/background_discord.png');
    --base-gradiant-image_cod: radial-gradient(rgba(26, 29, 38, 0.5) 0%, rgba(26, 26, 33, 0.6) 10%, rgba(24, 24, 31, 0.7) 50%, rgba(29, 29, 40, 0.8) 80%), url('../../public/static/images/funny/background_cod.jpg');
    --base-gradiant-image_music: radial-gradient(rgba(26, 29, 38, 0.5) 0%, rgba(26, 26, 33, 0.6) 10%, rgba(24, 24, 31, 0.7) 50%, rgba(29, 29, 40, 0.8) 80%), url('../../public/static/images/funny/background_music.jpg');
    --base-gradiant-image_guitar: radial-gradient(rgba(26, 29, 38, 0.5) 0%, rgba(26, 26, 33, 0.6) 10%, rgba(24, 24, 31, 0.7) 50%, rgba(29, 29, 40, 0.8) 80%), url('../../public/static/images/funny/background_guitar.jpg');
    --base-gradiant-image_rarible: radial-gradient(rgba(26, 29, 38, 0.5) 0%, rgba(26, 26, 33, 0.6) 10%, rgba(24, 24, 31, 0.7) 50%, rgba(29, 29, 40, 0.8) 80%), url('../../public/static/images/funny/background_rarible.jpg');
    --base-gradiant-image_space: radial-gradient(rgba(26, 29, 38, 0.5) 0%, rgba(26, 26, 33, 0.6) 10%, rgba(24, 24, 31, 0.7) 50%, rgba(29, 29, 40, 0.8) 80%), url('../../public/static/images/funny/background_space.jpg');
}

html[data-theme='dim']
{
    --color-primary: #5294E2;
    --color-primary-dark: #4385d4;
    --color-primary-darker: #3b79c4;
    --color-primary-light: #64a1ea;
    --color-primary-lighter: #7cb5fa;

    --color-base-text: #a7a7a7;
    --color-base-text-bold: #e1e1e1;
    --color-base-text-bolder: #fff;
    --color-base-text-shadow: rgba(250, 250, 252, 0.4);

    --base: #383c4a;
    --base-light: #464b5a;
    --base-lighter: #545a6a;
    --base-dark: #404350;
    --base-darker: #323540;
    --base-transparent: rgba(59, 59, 73, 0.2);
    --base-transparent-dark: rgba(20, 20, 26, 0.8);
    --base-transparent-darker: rgba(20, 20, 26, 0.9);
    --base-gradiant: linear-gradient(159deg, rgb(57, 60, 73) 0%, rgb(46, 49, 59) 100%);
    --base-gradiant-image: linear-gradient(180deg, rgba(76, 76, 102, 0.7) 0%, rgba(78, 78, 97, 0.7) 70%, rgb(70, 70, 88, .75) 80%, rgb(64, 64, 82, .8) 90%), url('../../public/static/images/background_dim.jpg');
    --base-gradiant-image-2: linear-gradient(180deg, rgb(42, 46, 59) 0%, rgb(45, 49, 62) 70%, rgb(49, 53, 66, 8) 80%, rgb(55, 59, 73, 9) 100%), url('../../public/static/images/background_dim-2.jpg');
    --base-gradiant-image_football: radial-gradient(rgba(44, 47, 59, 0.5) 0%, rgba(49, 49, 59, 0.6) 10%, rgba(46, 46, 56, 0.7) 50%, rgba(47, 47, 62, 0.8) 80%), url('../../public/static/images/funny/background_football.jpg');
    --base-gradiant-image_instagram: radial-gradient(rgba(45, 50, 62, 0.7) 0%, rgba(46, 46, 57, 0.8) 10%, rgba(46, 46, 57, 0.9) 50%, rgba(43, 43, 57, 0.95) 80%), url('../../public/static/images/funny/background_ig.jpg');
    --base-gradiant-image_discord: radial-gradient(rgba(39, 42, 54, 0.7) 0%, rgba(46, 46, 57, 0.8) 10%, rgba(47, 47, 59, 0.9) 50%, rgba(43, 43, 57, 0.95) 80%), url('../../public/static/images/funny/background_discord.png');
    --base-gradiant-image_cod: radial-gradient(rgba(45, 49, 62, 0.5) 0%, rgba(51, 51, 62, 0.6) 10%, rgba(40, 40, 50, 0.7) 50%, rgba(46, 46, 62, 0.8) 80%), url('../../public/static/images/funny/background_cod.jpg');
    --base-gradiant-image_music: radial-gradient(rgba(45, 49, 62, 0.5) 0%, rgba(41, 41, 52, 0.6) 10%, rgba(37, 37, 47, 0.7) 50%, rgba(41, 41, 54, 0.8) 80%), url('../../public/static/images/funny/background_music.jpg');
    --base-gradiant-image_guitar: radial-gradient(rgba(39, 43, 54, 0.5) 0%, rgba(45, 45, 56, 0.6) 10%, rgba(41, 41, 52, 0.7) 50%, rgba(38, 38, 50, 0.8) 80%), url('../../public/static/images/funny/background_guitar.jpg');
    --base-gradiant-image_rarible: radial-gradient(rgba(39, 43, 54, 0.5) 0%, rgba(45, 45, 56, 0.6) 10%, rgba(41, 41, 52, 0.7) 50%, rgba(38, 38, 50, 0.8) 80%), url('../../public/static/images/funny/background_rarible.jpg');
    --base-gradiant-image_space: radial-gradient(rgba(51, 55, 68, 0.5) 0%, rgba(53, 53, 66, 0.6) 10%, rgba(43, 43, 54, 0.7) 50%, rgba(47, 47, 61, 0.8) 80%), url('../../public/static/images/funny/background_space.jpg');
}

html[data-theme='light']
{
    --color-primary: #f52e2e;
    --color-primary-dark: #e52525;
    --color-primary-darker: #db2222;
    --color-primary-light: #fc4242;
    --color-primary-lighter: #ff5656;

    --color-base-text: #20202a;
    --color-base-text-bold: #191923;
    --color-base-text-bolder: #101015;
    --color-base-text-shadow: rgba(31, 31, 80, 0.4);

    --base: #f3e7e7;
    --base-light: #e7dada;
    --base-lighter: #f5eaea;
    --base-dark: #e5dbdb;
    --base-darker: #decccc;
    --base-transparent: rgb(215, 172, 172, .65);
    --base-transparent-dark: rgb(57, 55, 55, .65);
    --base-transparent-darker: rgb(42, 40, 40, .8);
    --base-gradiant: linear-gradient(159deg, rgb(234, 221, 221) 0%, rgb(236, 218, 218) 100%);
    --base-gradiant-image: linear-gradient(180deg, rgb(222, 213, 213, 0.7) 0%, rgb(234, 226, 226, 0.7) 50%, rgb(245, 239, 239, 0.7) 70%, rgba(255, 255, 255, 0.7) 90%), url('../../public/static/images/background_light.jpg');
    --base-gradiant-image-2: linear-gradient(180deg, rgb(215, 196, 196, 0.9) 0%, rgb(231, 218, 218, 0.9) 70%, rgb(229, 218, 218, 0.95) 80%, rgb(243, 231, 231) 100%), url('../../public/static/images/background_light-2.webp');
    --base-gradiant-image_football: radial-gradient(rgb(241, 235, 235, 0.5) 0%, rgb(236, 228, 228, 0.5) 10%, rgb(239, 235, 235, 0.5) 50%, rgb(238, 227, 227, 0.5) 80%), url('../../public/static/images/funny/background_football.jpg');
    --base-gradiant-image_instagram: radial-gradient(rgb(226, 209, 209, 0.8) 0%, rgb(234, 226, 226, 0.8) 10%, rgb(231, 220, 220, 0.8) 50%, rgb(227, 214, 214, 0.8) 80%), url('../../public/static/images/funny/background_ig.jpg');
    --base-gradiant-image_discord: radial-gradient(rgb(203, 188, 188, 0.8) 0%, rgb(213, 198, 198, 0.8) 10%, rgb(227, 216, 216, 0.8) 50%, rgb(210, 201, 201, 0.8) 80%), url('../../public/static/images/funny/background_discord.png');
    --base-gradiant-image_cod: radial-gradient(rgb(241, 235, 235, 0.5) 0%, rgb(245, 239, 239, 0.5) 10%, rgb(236, 230, 230, 0.5) 50%, rgb(236, 226, 226, 0.5) 80%), url('../../public/static/images/funny/background_cod.jpg');
    --base-gradiant-image_music: radial-gradient(rgb(241, 235, 235, 0.5) 0%, rgb(246, 241, 241, 0.5) 10%, rgb(245, 236, 236, 0.5) 50%, rgb(246, 242, 242, 0.5) 80%), url('../../public/static/images/funny/background_music.jpg');
    --base-gradiant-image_guitar: radial-gradient(rgb(241, 235, 235, 0.5) 0%, rgb(238, 230, 230, 0.5) 10%, rgb(246, 240, 240, 0.5) 50%, rgb(246, 241, 241, 0.5) 80%), url('../../public/static/images/funny/background_guitar.jpg');
    --base-gradiant-image_rarible: radial-gradient(rgb(241, 235, 235, 0.5) 0%, rgb(238, 231, 231, 0.5) 10%, rgb(241, 234, 234, 0.5) 50%, rgb(227, 214, 214, 0.5) 80%), url('../../public/static/images/funny/background_rarible.jpg');
    --base-gradiant-image_space: radial-gradient(rgb(241, 235, 235, 0.5) 0%, rgb(238, 231, 231, 0.5) 10%, rgb(241, 234, 234, 0.5) 50%, rgb(227, 214, 214, 0.5) 80%), url('../../public/static/images/funny/background_space.jpg');
}

$break-points:
    (
        'break-point-600': 37.5em,   // 600px
        'break-point-900': 56.25em,  // 900px
        'break-point-1000': 62.5em,  // 1000px
        'break-point-1100': 68.75em, // 1100px
        'break-point-1200': 75em,    // 1200px
        'break-point-1300': 81.25em, // 1300px
        'break-point-1400': 87.5em,  // 1400px
        'break-point-1800': 112.5em, // 1800px
    );
