.blog
{
    position: relative;
    z-index: 95;
    height: auto;
    width: 100%;
    padding: 3rem;

    @media only screen and (max-width: 1000px)
    {
        padding: 0.5rem;
    }

    &Header
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 2rem;

        & span
        {
            display: inline;

            color: var(--color-base-text-bold);
            background: var(--base-dark);
            padding: 0.5rem 1.5rem;
            border-radius: 1.5rem;
            font-size: 1rem;
        }

        @media only screen and (max-width: 1000px)
        {
            flex-direction: column;
            gap: 1.5rem;

            margin-top: 2rem;
        }
    }

    &Items
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;

        padding: 0 3rem;

        @media only screen and (max-width: 1400px)
        {
            grid-template-columns: repeat(1, 1fr);
        }

        @media only screen and (max-width: 1000px)
        {
            padding: 0 0.5rem;
        }
    }

    &Item
    {
        position: relative;

        border-radius: var(--border-radius);
        transition: all 0.35s;
        background: var(--base-lighter);
        height: 47rem;
        overflow: hidden;

        &Image
        {
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;

            width: 100%;
            height: 30rem;
        }

        &Content
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            position: relative;

            width: 100%;
            height: 17rem;
            padding: 3rem;
            background: var(--base-light);
            transition: 0.55s ease-in-out;

            @media only screen and (max-width: 1000px)
            {
                padding: 2rem;
            }

            & h3
            {
                width: 100%;
                height: fit-content;
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--color-base-text-bold);
                margin-bottom: 2rem;
            }

            & p
            {
                width: 100%;
                font-size: 1.25rem;
                font-weight: 400;
                margin: 0 auto auto;
            }
        }

        & img
        {
            object-fit: cover;
            filter: var(--image-filter);
            object-position: center;
            transition: 0.4s ease-in-out;
        }

        & i
        {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 1.5rem;
            left: 1.5rem;

            opacity: 0;
            color: var(--color-base-text-bold);
            background: var(--base-light);
            border-radius: 50%;
            font-size: 1.2rem;
            padding: 0.8rem 1rem 1rem;
            width: 3rem;
            height: 3rem;
            transition: 0.4s ease-in-out;
            cursor: pointer;

            &:hover
            {
                color: var(--color-base-text-bolder);
                background: var(--base-dark);
            }
        }

        &:hover
        {
            & i
            {
                opacity: 1;
            }

            & img
            {
                transform: scale(1.1);
            }
        }

        @media only screen and (max-width: 1000px)
        {
            min-height: 40rem;

            & img
            {
                height: 55%;
                bottom: 45%;
            }

            &Box
            {
                position: absolute;
                bottom: 0;

                height: 45%;
            }
        }
    }

    &View
    {
        display: grid;
        grid-gap: 2rem;
        grid-template-areas: "main main main header";

        @media only screen and (max-width: 1450px)
        {
            grid-template-areas: "main main main main main header";
        }

        @media only screen and (max-width: 1350px)
        {
            grid-template-areas:
                "header"
                "main";
        }

        &Image
        {
            position: relative;

            width: 100%;
            height: 50rem;
            overflow: hidden;
            border-radius: var(--border-radius);
            margin-bottom: 2rem;

            & img
            {
                object-fit: cover;
                filter: var(--image-filter);
                object-position: center;
                transition: 0.4s ease-in-out;
            }

            & span
            {
                transition: all 0.2s;
                filter: brightness(85%) blur(0);

                &:hover
                {
                    transform: scale(1.07);
                    filter: brightness(100%) blur(0) var(--image-filter);
                }
            }
        }

        &Card
        {
            grid-area: main;

            padding: 3rem;
            font-weight: 500;
            font-size: 1.5rem;
            min-height: 50rem;
            border-radius: var(--border-radius);

            background: var(--base-light);
            color: var(--color-base-text-bold);

            & h3
            {
                font-weight: normal;
                padding-bottom: 2rem;
                border-bottom: solid 0.1rem var(--color-base-text);
            }

            & a
            {
                color: var(--color-primary);
                transition: all 0.2s;

                &:hover
                {
                    color: var(--color-primary-dark);
                }
            }

            & img
            {
                display: flex;
                justify-content: center;

                max-width: 100% !important;
                margin: auto;
            }

            &Header
            {
                grid-area: header;

                width: 100%;
                min-height: 30rem;
                margin: 0 auto auto;
                padding: 5rem 3rem;
                font-size: 1.55rem;
                border-radius: var(--border-radius);

                background: var(--base-light);
                color: var(--color-base-text);

                @media only screen and (max-width: 1000px)
                {
                    padding: 2.5rem 2rem;
                }

                & span
                {
                    display: flex;
                    justify-content: space-between;

                    margin-bottom: 1.5rem;

                    & p
                    {
                        margin-right: 2rem;
                        color: var(--color-base-text-bolder);
                    }
                }
            }

            @media only screen and (max-width: 1000px)
            {
                padding: 0.5rem;
            }
        }
    }
}

html[data-language="fa"]
{
    .blogViewCardHeader p
    {
        margin: 0 0 1.5rem 2rem;
    }
}
