.hobbies
{
    height: auto;
    width: 100%;

    @media only screen and (max-width: 1000px)
    {
        padding-top: 1.5rem;
    }

    &List
    {
        width: 100%;
        height: 100%;
        min-height: 100vh;
    }

    &Box
    {
        position: relative;

        padding: 0 3rem;
        max-width: calc(100vw - 38rem);

        @media only screen and (max-width: 1000px)
        {
            max-width: 100vw;
            padding: 0 1.5rem;
        }

        &Content
        {
            display: flex;
            justify-content: space-between;

            position: relative;

            border-radius: var(--border-radius);
            margin-bottom: 6rem;
            width: 100%;
            height: 38rem;
            padding: 0 6rem;

            &::before
            {
                content: "";

                position: absolute;
                top: 0;
                right: 0;

                border-radius: var(--border-radius);
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                filter: var(--image-filter);
            }

            &[data-fact_type="football"]::before
            {
                background-image: var(--base-gradiant-image-football);
            }

            &[data-fact_type="instagram"]::before
            {
                background-image: var(--base-gradiant-image-instagram);
            }

            &[data-fact_type="discord"]::before
            {
                background-image: var(--base-gradiant-image-discord);
            }

            &[data-fact_type="cod"]::before
            {
                background-image: var(--base-gradiant-image-cod);
            }

            &[data-fact_type="music"]::before
            {
                background-image: var(--base-gradiant-image-music);
            }

            &[data-fact_type="guitar"]::before
            {
                background-image: var(--base-gradiant-image-guitar);
            }

            &[data-fact_type="space"]::before
            {
                background-image: var(--base-gradiant-image-space);
            }

            &[data-fact_type="rarible"]::before
            {
                background-image: var(--base-gradiant-image-rarible);
            }

            &Box
            {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 3rem;

                position: relative;

                padding: 5rem 0;
                width: 55%;

                @media only screen and (max-width: 1800px)
                {
                    gap: 2rem;

                    width: 45%;
                    padding: 3rem 0;
                }

                @media only screen and (max-width: 1575px)
                {
                    padding-right: .5rem;
                    width: 52.5%;
                }

                @media only screen and (max-width: 1430px)
                {
                    width: 100%;
                }

                @media only screen and (max-width: 1430px)
                {
                    padding: 0;
                }

                &Title
                {
                    color: var(--color-base-text-bolder);
                    font-size: 4rem;

                    @media only screen and (max-width: 1800px)
                    {
                        font-size: 3rem;
                    }
                }

                &Description
                {
                    color: var(--color-base-text-bold);
                    font-size: 1.8rem;
                    font-weight: 400;

                    & > a,
                    & > strong
                    {
                        cursor: pointer;
                        font-weight: 600;
                        color: var(--color-base-text-bolder);
                        transition: all .2s;
                    }

                    @media only screen and (max-width: 1400px)
                    {
                        margin-bottom: 4rem;
                        font-size: 1.5rem;
                    }

                    @media only screen and (max-width: 1000px)
                    {
                        margin-bottom: 1rem;
                    }
                }
            }

            &Images
            {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;

                position: absolute;
                right: 0;
                bottom: 0;

                padding-right: 3rem;
                max-width: 45%;
                width: fit-content;
                padding-left: 14rem;
                height: 120%;
                overflow: hidden;

                @media only screen and (max-width: 1800px)
                {
                    max-width: 65%;
                }

                @media only screen and (max-width: 1575px)
                {
                    padding-right: 0;
                }

                @media only screen and (max-width: 1430px)
                {
                    display: none;
                }

                &Tooltip
                {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;

                    position: relative;

                    width: 32.5rem;
                    height: fit-content;
                    padding: 2rem;
                    border-radius: 0.65rem;
                    background: var(--base-dark);
                    box-shadow: 0 0 1.25rem -.5rem var(--base-dark);

                    &::after
                    {
                        content: "";

                        position: absolute;
                        right: -.5rem;
                        top: 25%;

                        margin-left: -5px;
                        width: 1rem;
                        height: 1rem;
                        border-radius: calc(var(--border-radius) / 2.5);
                        background: var(--base-dark);
                        transform: rotate(45deg);
                    }

                    & > li
                    {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        gap: 1rem;

                        width: calc(50% - 0.5rem);

                        &:nth-child(1)
                        {
                            width: 100%;
                            margin-bottom: 1rem;
                        }

                        & > span:first-child
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            position: relative;

                            width: 4.6rem;
                            height: 6rem;
                            border-radius: var(--border-radius);
                            overflow: hidden;
                            background: var(--base-dark);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }

                        & > div
                        {
                            display: grid;
                            grid-template-columns: repeat(2, auto);
                            grid-gap: 1rem;

                            width: fit-content;
                            padding-top: .75rem;
                        }

                        & p
                        {
                            width: fit-content;
                            font-size: 1.35rem;
                            color: var(--color-base-text);
                        }

                        & span
                        {
                            width: fit-content;
                            font-size: 1.35rem;
                            color: var(--color-base-text-bold);
                        }
                    }
                }

                & > span
                {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;

                    position: relative;
                    bottom: 0;

                    height: 42rem;
                    width: auto;
                    margin-left: -14.5rem;
                    margin-bottom: 0;
                    transition: all 0.2s;
                    cursor: pointer;

                    @media only screen and (max-width: 1575px)
                    {
                        margin-left: -17rem;
                        margin-bottom: -3.25rem;
                        transform: scale(.85);
                    }

                    & *
                    {
                        overflow: visible !important;
                    }

                    & img
                    {
                        transition: all 0.2s;
                        filter: drop-shadow(50px 20px 7px rgb(0 0 0 / 50%));
                    }

                    & > span
                    {
                        transition: all 0.2s;
                    }

                    &:nth-child(1)
                    {
                        z-index: 50;
                    }

                    &:nth-child(2)
                    {
                        z-index: 49;
                    }

                    &:nth-child(3)
                    {
                        z-index: 48;
                    }

                    &:hover
                    {
                        z-index: 51;
                        transform: scale(1.175);
                        margin-left: -13rem;
                        margin-bottom: 3rem;

                        & img
                        {
                            filter: drop-shadow(60px 50px 15px rgb(0 0 0 / 50%));
                        }
                    }
                }

                &:hover > span:not(:hover)
                {
                    &:first-child
                    {
                        z-index: 47;
                    }

                    & > span
                    {
                        filter: blur(0.2rem);
                    }
                }

                &Static
                {
                    margin-bottom: 0 !important;
                    transform: none !important;

                    & > span
                    {
                        filter: none !important;
                    }

                    & img
                    {
                        filter: none !important;
                    }
                }

                &Logo
                {
                    width: 25rem !important;
                    height: 25rem !important;
                    margin-right: 4rem !important;
                    margin-left: 0 !important;
                    margin-bottom: 6rem !important;
                    transform: none !important;
                    border-radius: var(--border-radius);
                    overflow: hidden;

                    &[data-discord]
                    {
                        margin-bottom: 10rem !important;
                    }

                    & > span
                    {
                        filter: none !important;
                    }

                    & img
                    {
                        filter: none !important;
                    }
                }
            }

            @media only screen and (max-width: 1800px)
            {
                padding: 0 3rem;
            }

            @media only screen and (max-width: 1430px)
            {
                height: fit-content;
                padding: 2.5rem;
                margin-bottom: 3rem;
            }

            @media only screen and (max-width: 1000px)
            {
                margin-bottom: 1.5rem;

                & h2
                {
                    font-size: 3rem;
                    padding-bottom: 2rem;
                }

                & a
                {
                    align-self: initial;
                }

                &Description
                {
                    padding-bottom: 2rem;
                }
            }
        }
    }
}

html[data-language="fa"]
{
    .hobbies
    {
        height: auto;
        width: 100%;

        &BoxContentImages
        {
            left: 0;
            right: auto;

            width: 45%;
            padding-right: 0;
            padding-left: 7.5rem;

            &Tooltip
            {
                &:after
                {
                    right: auto;
                    left: 0;
                }
            }

            & > span
            {
                margin-left: 0;
                margin-right: -14.5rem;

                & img
                {
                    filter: drop-shadow(-50px 20px 7px rgb(0 0 0 / 50%));
                }
            }
        }
    }
}

@keyframes scale
{
    0%
    {
        opacity: 1;
    }

    50%
    {
        opacity: 0.5;
    }

    100%
    {
        opacity: 1;
    }
}
