.hobbies
{
    height: auto;
    width: 100%;

    &Header
    {
        position: relative;
        padding: 0 3rem;

        @media only screen and (max-width: 1000px)
        {
            padding: 1.5rem;
        }

        &Content
        {
            display: flex;
            justify-content: space-between;

            position: relative;
            border-radius: 1rem;
            margin-bottom: 8rem;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 38rem;
            padding: 6rem 3rem 0 6rem;

            &[data-fact_type="football"]
            {
                background-image: var(--base-gradiant-image-football);
            }

            &[data-fact_type="instagram"]
            {
                padding: 6rem 3rem 6rem 6rem;
                background-image: var(--base-gradiant-image-instagram);
            }

            &[data-fact_type="discord"]
            {
                padding: 6rem 3rem 6rem 6rem;
                background-image: var(--base-gradiant-image-discord);
            }

            &[data-fact_type="cod"]
            {
                background-image: var(--base-gradiant-image-cod);
            }

            &[data-fact_type="music"]
            {
                background-image: var(--base-gradiant-image-music);
            }

            &[data-fact_type="guitar"]
            {
                background-image: var(--base-gradiant-image-guitar);
            }

            &[data-fact_type="space"]
            {
                background-image: var(--base-gradiant-image-space);
            }

            &[data-fact_type="rarible"]
            {
                padding: 6rem 3rem 6rem 6rem;
                background-image: var(--base-gradiant-image-rarible);
            }

            @media only screen and (max-width: 1400px)
            {
                height: auto;
                padding: 4rem 4rem 0;
            }

            @media only screen and (max-width: 1300px)
            {
                margin-bottom: 3rem;
            }

            @media only screen and (max-width: 1000px)
            {
                padding: 2.5rem 2.5rem 0;
                margin: 0;
            }

            & h1
            {
                color: var(--color-base-text-bolder);
                font-size: 4rem;

                @media only screen and (max-width: 1400px)
                {
                    font-size: 3rem;
                }
            }

            & p
            {
                margin-bottom: 3rem;
            }

            &Box
            {
                width: 55%;

                @media only screen and (max-width: 1300px)
                {
                    width: 45%;
                }

                @media only screen and (max-width: 1200px)
                {
                    width: 100%;
                }
            }

            &Description
            {
                color: var(--color-base-text-bold);
                font-size: 2rem;
                font-weight: 400;
                display: flex;
                margin: auto auto 0;

                @media only screen and (max-width: 1400px)
                {
                    margin-bottom: 4rem;
                    font-size: 1.5rem;
                }
            }

            &Images
            {
                width: 40%;
                position: relative;
                bottom: 0;
                right: 0;
                height: auto;

                &Background
                {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;

                    &Two,
                    &Three,
                    &Four
                    {
                        max-width: 31rem;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        transition: 0.4s ease-in-out;
                        z-index: 92;

                        @media only screen and (max-width: 1400px)
                        {
                            max-width: 80%;
                        }
                    }

                    &Three,
                    &Four
                    {
                        right: 0 !important;
                        max-width: 40rem;

                        @media only screen and (max-width: 1400px)
                        {
                            max-width: 90%;
                        }
                    }

                    &Four
                    {
                        margin-bottom: 1rem;
                    }

                    &One
                    {
                        filter: blur(3px);
                        max-width: 29rem;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        transition: 0.4s ease-in-out;
                        z-index: 92;

                        &[data-image="three"]
                        {
                            max-width: 24rem;
                        }

                        @media only screen and (max-width: 1400px)
                        {
                            max-width: 73%;

                            &[data-image="three"]
                            {
                                max-width: 68%;
                            }
                        }

                        &:hover
                        {
                            filter: blur(0);
                            max-width: 31rem;
                            z-index: 95 !important;

                            &[data-image="three"]
                            {
                                max-width: 27rem;
                                z-index: 96 !important;
                            }

                            @media only screen and (max-width: 1400px)
                            {
                                max-width: 82%;

                                &[data-image="three"]
                                {
                                    max-width: 75%;
                                }
                            }

                            & ~ [data-image="two"]
                            {
                                filter: blur(3px);
                                max-width: 29rem;
                                z-index: 92;

                                @media only screen and (max-width: 1400px)
                                {
                                    max-width: 70%;
                                }
                            }
                        }
                    }

                    &[data-hover="true"] img:hover
                    {
                        animation: scale 0.6s ease-in-out;
                        z-index: 93;
                    }

                    & img:last-child
                    {
                        right: 16.5rem;

                        @media only screen and (max-width: 1400px)
                        {
                            right: 9rem;
                        }

                        &:hover
                        {
                            animation: none;
                        }
                    }

                    & img:nth-child(2)
                    {
                        right: 6rem;

                        @media only screen and (max-width: 1400px)
                        {
                            right: 2rem;
                        }

                        &:hover
                        {
                            animation: none;
                        }
                    }

                    & img:first-child
                    {
                        right: -2rem;

                        @media only screen and (max-width: 1400px)
                        {
                            right: -3rem;
                        }

                        &:hover
                        {
                            animation: none;
                        }
                    }

                    &Instagram,
                    &Rarible
                    {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 20rem;
                        height: 20rem;
                        border-radius: 3rem;
                    }

                    &Discord
                    {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 20rem;
                    }
                }

                @media only screen and (max-width: 1400px)
                {
                    width: 30%;
                }

                @media only screen and (max-width: 1200px)
                {
                    display: none;
                }
            }

            @media only screen and (max-width: 1000px)
            {
                margin-top: 1rem;
                justify-content: center;
                align-items: center;

                & h1
                {
                    font-size: 3rem;
                    padding-bottom: 2rem;
                }

                & a
                {
                    align-self: initial;
                }

                &Description
                {
                    padding-bottom: 2rem;
                }
            }
        }
    }
}

html[data-language="fa"]
{
    .funny
    {
        height: auto;
        width: 100%;

        &Header
        {
            &Content
            {
                &Images
                {
                    left: 0;
                    right: auto;

                    &Background
                    {
                        left: 0;
                        right: auto;

                        &Two,
                        &Three,
                        &Four
                        {
                            left: 0;
                            right: auto;
                        }

                        &Three,
                        &Four
                        {
                            left: 0 !important;
                            right: auto !important;
                        }

                        &One
                        {
                            left: 0;
                            right: auto;
                        }

                        & img:last-child
                        {
                            right: auto;
                            left: 12rem;

                            @media only screen and (max-width: 1400px)
                            {
                                left: 5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes scale
{
    0%
    {
        opacity: 1;
    }

    50%
    {
        opacity: 0.5;
    }

    100%
    {
        opacity: 1;
    }
}
