.home
{
    height: auto;
    width: 100%;

    &Header
    {
        position: relative;

        padding: 3rem 3rem 0;

        @media only screen and (max-width: 1000px)
        {
            padding: 1.5rem;
        }

        &Content
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            border-radius: 1rem;
            background-image: var(--base-gradiant-image);
            background-position: center;
            background-size: cover;
            width: 100%;
            min-height: 36rem;
            padding: 6rem;

            & h2
            {
                font-size: 5rem;
                margin: 0 auto auto 0;
            }

            & button
            {
                margin: auto auto 0 0;
            }

            &Description
            {
                display: flex;
                align-items: center;

                color: var(--color-base-text);
                font-size: 1.7rem;
                font-weight: 400;
                font-family: "Source Code Pro", monospace;
                margin: 0 auto auto 0;

                & span
                {
                    display: flex;
                    align-items: center;

                    color: var(--color-base-text-bolder);

                    &:nth-child(2)
                    {
                        position: relative !important;

                        &::after
                        {
                            content: "|";

                            display: inline-block;

                            position: relative;

                            animation: opacity 0.8s infinite ease-in-out;
                        }
                    }

                    & > span
                    {
                        display: none !important;
                    }
                }

                & i
                {
                    font-style: normal;
                    color: var(--color-primary);
                }
            }

            @media only screen and (max-width: 1400px)
            {
                top: -37rem;
            }

            @media only screen and (max-width: 1200px)
            {
                & h1
                {
                    font-size: 2.8rem;
                }
            }

            @media only screen and (max-width: 1000px)
            {
                align-items: center;
                justify-content: center;

                padding: 3rem;
                margin-top: 1rem;

                & h1
                {
                    font-size: 3rem;
                    padding-bottom: 2rem;
                }

                & a
                {
                    align-self: initial;
                }

                &Description
                {
                    flex-direction: column;
                    padding-bottom: 2rem;
                    align-items: center;
                    margin: 0;
                }
            }
        }

        &Logs
        {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            place-items: center;

            padding-top: 3rem;

            @media only screen and (max-width: 1300px)
            {
                grid-template-columns: repeat(2, minmax(20rem, 1fr));
            }

            @media only screen and (max-width: 1000px)
            {
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            }

            &Box
            {
                display: flex;
                align-items: center;

                @media only screen and (max-width: 1300px)
                {
                    margin: 1rem 0;
                }

                & span
                {
                    font-size: 2.2rem;
                    font-weight: 600;
                    color: var(--color-primary);
                    margin: 0 0.5rem;

                    &:not(:last-child)
                    {
                        margin-right: 1rem;
                    }
                }

                & p
                {
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: var(--color-base-text);
                }
            }
        }
    }

    &AboutMe
    {
        display: grid;
        grid-template-columns: repeat(max(3), minmax(30rem, 1fr));
        grid-gap: 2rem;

        padding: 0 3rem;

        @media only screen and (max-width: 1400px)
        {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: 1000px)
        {
            padding: 1.5rem;
        }

        @media only screen and (max-width: 1250px)
        {
            grid-template-columns: repeat(1, 1fr);
        }

        & h2
        {
            grid-column: 1 / 3;

            @media only screen and (max-width: 1400px)
            {
                grid-column: 1 / 2;
            }

            @media only screen and (max-width: 1250px)
            {
                grid-column: auto;
            }
        }

        &Aside
        {
            grid-column: 3 / 4;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1rem;

            max-width: 100%;
            height: fit-content;
            border-radius: 1rem;
            background: var(--base-light);
            padding: 3rem;

            @media only screen and (max-width: 1400px)
            {
                grid-column: 2 / 3;
            }

            @media only screen and (max-width: 1250px)
            {
                grid-column: auto;
                gap: 1.5rem;
            }

            &Item
            {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                width: 100%;

                @media only screen and (max-width: 1350px)
                {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.5rem;
                }

                & > h6
                {
                    font-size: 1.4rem;
                    margin-bottom: 1rem;

                    @media only screen and (max-width: 1350px)
                    {
                        margin-bottom: 1.5rem;
                    }
                }

                & > h5
                {
                    font-size: 1.25rem;
                    color: var(--color-base-text);
                    font-weight: 300;

                    white-space: nowrap;
                    word-wrap: anywhere;
                    width: 11rem;
                }

                &List
                {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    position: relative;

                    & > li
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: relative;

                        width: 5.25rem;
                        height: 5.25rem;
                        padding: 0.85rem;
                        cursor: pointer;
                        transition: all 0.2s;
                        border-radius: 10rem;
                        background: var(--base-dark);
                        border: 0.3rem solid var(--base-light);

                        & > span
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            position: relative;

                            max-width: 2.5rem;
                            max-height: 2.5rem;
                            width: 100%;
                            height: 100%;

                            &[data-html_logo]
                            {
                                margin-top: 0.5rem;
                            }
                        }

                        &:not(:first-child)
                        {
                            margin-left: -1.75rem;
                        }

                        &:hover
                        {
                            z-index: 100;
                            transform: scale(1.25);
                        }
                    }
                }
            }
        }
    }

    &Services
    {
        display: grid;
        grid-template-columns: repeat(max(3), minmax(30rem, 1fr));
        grid-gap: 2rem;

        padding: 0 3rem;

        @media only screen and (max-width: 1400px)
        {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: 1000px)
        {
            padding: 1.5rem;
        }

        @media only screen and (max-width: 650px)
        {
            grid-template-columns: repeat(1, 1fr);
        }

        &Content
        {
            display: flex;
            flex-direction: column;

            border-radius: 1rem;
            background: var(--base-light);
            padding: 3rem;

            & h5
            {
                margin-bottom: 1.5rem;
                font-size: 1.4rem;
                font-weight: 600;
            }

            & p
            {
                margin-bottom: 1.5rem;
                line-height: 1.7;
                font-size: 1.1rem;
                font-weight: 500;
            }

            & a
            {
                margin: auto auto 0 0;
            }
        }
    }

    &Repositories
    {
        display: flex;

        width: 100%;
        max-width: calc(100vw - 38rem);
        height: 100%;
        max-height: 40rem;
        padding: 0 3rem;
        margin-bottom: 4rem;

        @media only screen and (max-width: 1000px)
        {
            max-width: 100vw;
            padding: 1.5rem;
        }

        & > div
        {
            overflow: hidden !important;
            width: 100% !important;
            height: 100% !important;
            padding: 5rem 0 !important;
            margin-top: -5rem !important;
        }

        &PrevNext
        {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            direction: ltr;
            padding: 1rem 0;

            & svg
            {
                cursor: pointer;
                width: 2.5rem;
                height: 2.5rem;
                fill: var(--color-base-text);
            }
        }

        &Content
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            position: relative;

            width: 100%;
            height: 17rem;
            background: var(--base-light);
            border-radius: 1rem;

            &Info
            {
                padding: 3rem 3rem 0;

                & > a
                {
                    display: flex;
                    flex-direction: column;

                    color: var(--color-base-text-bolder);
                    font-size: 1.5rem;
                    font-weight: 600;

                    & > span
                    {
                        margin-top: 0.5rem;
                        color: var(--color-base-text);
                        font-style: italic;
                        font-weight: 300;
                        font-size: 1.25rem;
                    }
                }
            }

            &Stats
            {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 1rem;

                height: fit-content;
                padding-right: 2rem;
                margin: auto auto 3rem 3rem;

                & > li
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font-size: 1.2rem;
                    padding: 0.5rem 1.25rem;
                    border-radius: 10rem;
                    transition: all 0.2s;
                    background: var(--base-dark);

                    &:hover
                    {
                        background: var(--base-darker);
                    }

                    & > a
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;

                        color: var(--color-base-text-bold);

                        & > svg
                        {
                            width: 1.5rem;
                            height: 1.5rem;
                            fill: var(--color-primary);
                        }
                    }
                }
            }
        }
    }

    &Organs
    {
        display: flex;

        width: 100%;
        height: 100%;
        padding: 0 3rem;
        max-height: 40rem;
        max-width: calc(100vw - 38rem);

        @media only screen and (max-width: 1000px)
        {
            max-width: 100vw;
            padding: 1.5rem;
        }

        & > div
        {
            overflow: hidden !important;
            width: 100% !important;
            height: 100% !important;
            padding: 5rem 0 !important;
            margin-top: -5rem !important;
        }

        &Content
        {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            position: relative;

            border-radius: 1rem;

            & img
            {
                filter: grayscale(100%);
                border-radius: 1.5rem;
                width: 12rem;
                height: 12rem;
                opacity: 0.35;
                transition: all 0.2s;
            }

            &:hover img
            {
                opacity: 0.75;
            }
        }
    }
}

html[data-language="fa"]
{
    .home
    {
        height: auto;
        width: 100%;

        &HeaderContent
        {
            & h2
            {
                margin-left: auto;
                margin-right: 0;
            }

            & button
            {
                margin-left: auto;
                margin-right: 0;
            }

            &Description
            {
                margin-left: auto;
                margin-right: 0;

                & span
                {
                    direction: rtl;
                }

                & p
                {
                    direction: ltr;
                }
            }
        }

        &AboutMeAsideItemList > li:not(:first-child)
        {
            margin-left: 0;
            margin-right: -1.75rem;
        }

        &ServicesContent > a
        {
            margin: auto 0 0 auto;
        }

        &Repositories
        {
            &PrevNext
            {
                justify-content: flex-start;
            }

            &ContentStats
            {
                margin: auto 0 3rem auto;
            }
        }
    }
}

@keyframes opacity
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}
