.projects
{
    position: relative;
    z-index: 95;
    height: auto;
    width: 100%;

    @media only screen and (max-width: 1000px)
    {
        padding-top: 1rem;
    }

    &Image
    {
        position: absolute;
        z-index: 105;

        border-radius: var(--border-radius);
        visibility: visible;
        transition: all 0.3s ease-in-out;

        & nav
        {
            height: 7rem;
            width: 100%;
            display: flex;
            justify-content: right;
            padding: 0 3rem;
            position: fixed;
            background: var(--base-dark);
            z-index: 98;
        }

        & span
        {
            position: fixed !important;
            left: 50% !important;
            top: 50% !important;
            transform: translate(-50%, -50%);

            width: 80%;

            & img
            {
                object-fit: cover;
                object-position: center;
                border-radius: var(--border-radius);
            }

            @media only screen and (max-width: 1000px)
            {
                width: 90% !important;
            }

            @media only screen and (max-width: 900px)
            {
                width: 97.5% !important;
            }
        }
    }

    &List
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;

        padding: 0 3rem 3rem;

        @media only screen and (max-width: 1400px)
        {
            grid-template-columns: repeat(1, 1fr);
        }

        @media only screen and (max-width: 1000px)
        {
            padding: 0 1.5rem;
        }
    }

    &Item
    {
        position: relative;

        border-radius: var(--border-radius);
        transition: all 0.35s;
        background: var(--base-lighter);
        height: 30rem;
        overflow: hidden;

        &Box
        {
            display: flex;
            flex-wrap: wrap;

            position: absolute;
            bottom: -70%;
            z-index: 96;

            width: 100%;
            height: 70%;
            padding: 3rem;
            background: var(--base-light);
            transition: 0.55s ease-in-out;

            & h2
            {
                width: 100%;
                font-size: 15px;
                font-weight: 600;
                color: var(--color-base-text-bold);
                margin-bottom: 1rem;
            }

            & p
            {
                width: 100%;
                font-size: 13px;
                font-weight: 400;
                margin-bottom: 1.5rem;
            }
        }

        & img
            {
            object-fit: cover;
            filter: var(--image-filter);
            object-position: center;
            transition: 0.4s ease-in-out;
        }

        & i
        {
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;

            opacity: 0;
            color: var(--color-base-text-bold);
            background: var(--base-light);
            border-radius: 50%;
            font-size: 1.2rem;
            padding: 0.8rem 1rem 1rem;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s ease-in-out;
            cursor: pointer;

            &:hover
            {
                color: var(--color-base-text-bolder);
                background: var(--base-dark);
            }
        }

        &:hover
        {
            & i
            {
                opacity: 1;
            }

            & img
            {
                transform: scale(1.1);
            }

            & .projectsItemBox
            {
                bottom: 0;
            }
        }

        @media only screen and (max-width: 1000px)
        {
            min-height: 40rem;

            & img
            {
                height: 55%;
                bottom: 45%;
            }

            &Box
            {
                position: absolute;
                bottom: 0;

                height: 45%;
            }
        }
    }
}
