.blogs
{
    position: relative;
    z-index: 99;

    &Heading
    {
        font-size: 1.7rem;
        font-weight: 600;
        padding: 3rem;
        color: var(--color-base-text-bold) !important;
    }

    &Cards
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 2rem;

        padding: 0 3rem;
        margin-bottom: 2rem;

        &Card
        {
            background: var(--base-lighter);
            overflow: hidden;

            width: 40rem;

            &Image
            {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
            }

            &Content
            {
                padding: 3rem;

                &Title
                {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: var(--color-base-text-bold);
                }

                &Paragraph
                {
                    color: var(--color-base-text);
                    font-size: 1.25rem;
                    font-weight: 400;
                    margin: 1.3rem 0 2rem;
                }

                &Button
                {
                    display: flex;
                    align-items: center;

                    margin-top: auto;

                    &,
                    &:link,
                    &:visited
                    {
                        color: var(--color-primary);
                        letter-spacing: 1.5px;
                        font-weight: 600;
                        font-size: 1.1rem;
                    }

                    svg
                    {
                        height: 1.5rem;
                        width: 1.5rem;
                        fill: var(--color-primary);
                        transition: all 0.2s;
                    }

                    &:hover svg
                    {
                        margin-left: 0.4rem;
                    }
                }
            }
        }
    }

    // Blog Slug Page
    &BlogSlug
    {
        &Title
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 3rem;

            @media only screen and (max-width: 600px)
            {
                flex-direction: column;
                padding-right: 0;
                margin-bottom: 2rem;
                width: 100%;
            }

            & span
            {
                display: inline;
                color: var(--color-base-text-bold);
                background: var(--base-dark);
                padding: 0.5rem 1.5rem;
                font-size: 1rem;
            }
        }

        &HeadBox
        {
            display: grid;
            place-items: center;
        }

        &HeadImage
        {
            position: relative;
            padding: 0 3rem;

            width: 100%;
            height: 50rem;
            overflow: hidden;
            margin-bottom: 2rem;
        }

        &Article
        {
            display: flex;
            flex-direction: row-reverse;
            grid-gap: 2rem;

            @media only screen and (max-width: 1500px)
            {
                flex-direction: column;
            }

            padding: 0 3rem;
            margin-bottom: 2rem;
            overflow: hidden;

            &Author
            {
                flex: 0 0 30.6%;

                width: 100%;
                padding: 3.5rem;
                max-height: 23rem;
                font-size: 1.55rem;
                background: var(--base-light);
                color: var(--color-base-text);

                ul
                {
                    li
                    {
                        display: flex;
                        justify-content: space-between;

                        &:not(:last-child)
                        {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }

            &Content
            {
                flex: 0 0 68%;
                overflow: hidden;

                padding: 3rem;
                font-weight: 500;
                font-size: 1.5rem;
                background: var(--base-light);
                color: var(--color-base-text-bold);
            }
        }
    }
}
