.contact
{
    z-index: 95;

    &Heading
    {
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--color-base-text);
        padding: 3rem;
    }

    &Cards
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 2rem;

        padding: 0 3rem;

        @media screen and (max-width: 360px)
        {
            padding: 0 1rem;
        }

        &Card
        {
            background: var(--base-light);
            padding: 3rem;

            &List
            {
                display: flex;
                flex-direction: column;
                gap: 3rem;

                &Item
                {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    width: 100%;

                    & a,
                    & span
                    {
                        color: var(--color-base-text-bold);
                        font-size: 1.5rem;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    &Form
    {
        background: var(--base-light);
        padding: 3rem;
        margin: 0 3rem 2rem;

        @media screen and (max-width: 360px)
        {
            margin: 0 1rem 2rem;
        }

        &Group
        {
            display: flex;

            margin-bottom: 3rem;

            & input,
            & textarea
            {
                flex: 1;
                border: none;
                padding: 1rem;
                background: var(--base-darker);
                color: var(--color-base-text);
                width: 100%;

                &:focus
                {
                    outline: none;
                }
            }

            & textarea
            {
                height: 15rem;
            }

            & label
            {
                display: flex;
                align-items: center;
                justify-content: center;

                color: var(--color-base-text-bold);
                font-size: 1.6rem;
                font-weight: 400;
                background: var(--base-dark);
                padding: 2rem;
            }

            & button
            {
                text-transform: uppercase;
                padding: 1.5rem 3.5rem;
                color: var(--color-base-text-bold);
                background: var(--color-primary);
                font-weight: 600;
                border: none;
                transition: .2s ease-in-out;
                cursor: pointer;

                &:hover
                {
                    color: var(--color-base-text-bolder);
                    background: var(--color-primary-light);
                }
            }
        }
    }
}
