*,
*::before,
*::after
{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body
{
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

#__next
{
    display: grid;
    grid-template-columns: [aside-start] 30rem [aside-end main-start] 1fr [main-end nav-start] 8rem [nav-end];

    letter-spacing: 0.5px;
    overflow: hidden;
    height: 100vh;
}
