html[data-theme="dark"]
{
    --color-primary: #ffc107;
    --color-primary-dark: #d8a40a;
    --color-primary-light: #f4bf22;
    --color-base-text: #a7a7a7;
    --color-base-text-bold: #e1e1e1;
    --color-base-text-shadow: rgb(250 250 252 / 40%);
    --base: #202029;
    --base-light: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    --base-lighter: #343442;
    --base-dark: #20202a;
    --base-darker: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
    --base-transparent-dark: rgb(30 30 40 / 88%);
    --base-transparent-darker: rgb(20 20 26 / 75%);
    --base-gradiant: linear-gradient(159deg, rgb(38 38 54) 0%, rgb(46 46 59) 100%);
    --base-gradiant-image:
        linear-gradient(
                90deg,
                rgb(45 45 58 / 90%) 15%,
                rgb(45 45 58 / 70%) 50%,
                rgb(43 43 53 / 70%) 100%
        ),
        url("../../public/images/background_dark.jpg");
    --base-gradiant-image-2:
        linear-gradient(
                180deg,
                rgb(32 32 43 / 90%) 70%,
                rgb(32 32 43) 95%,
                #202029 100%
        ),
        url("../../public/images/background_dark.jpg");
}

html[data-theme="ark"]
{
    --color-primary: #5294e2;
    --color-primary-dark: #4385d4;
    --color-primary-light: #64a1ea;
    --color-base-text: #a7a7a7;
    --color-base-text-bold: #e1e1e1;
    --color-base-text-shadow: rgb(250 250 252 / 40%);
    --base: #383c4a;
    --base-light: #464b5a;
    --base-lighter: #545a6a;
    --base-dark: #404350;
    --base-darker: #323540;
    --base-transparent-dark: rgba(53, 57, 69, 0.5);
    --base-transparent-darker: rgba(56, 56, 67, 0.5);
    --base-gradiant: linear-gradient(159deg, rgb(57 60 73) 0%, rgb(46 49 59) 100%);
    --base-gradiant-image:
        linear-gradient(
                180deg,
                rgb(76 76 102 / 70%) 0%,
                rgb(78 78 97 / 70%) 70%,
                rgb(70 70 88 / 75%) 80%,
                rgb(64 64 82 / 80%) 90%
        ),
        url("../../public/images/background_dim.jpg");
    --base-gradiant-image-2:
        linear-gradient(
                180deg,
                rgb(42 46 59 / 94%) 0%,
                rgb(45 49 62) 70%,
                rgb(49 53 66) 80%,
                rgb(55 59 73) 100%
        ),
        url("../../public/images/background_dim-2.jpg");
}

html[data-theme="light"]
{
    --color-primary: #3729cc;
    --color-primary-dark: #2419a7;
    --color-primary-light: #5d4ee1;
    --color-base-text: #262633;
    --color-base-text-bold: #191923;
    --color-base-text-shadow: rgb(31 31 80 / 40%);
    --base: #e7e9f3;
    --base-light: #e3e5ed;
    --base-lighter: #eaedf5;
    --base-dark: #d3d7e1;
    --base-darker: #ccd0de;
    --base-transparent-dark: rgba(189, 189, 195, 0.65);
    --base-transparent-darker: rgba(131, 131, 141, 0.8);
    --base-gradiant: linear-gradient(159deg, rgb(221, 225, 234) 0%, rgb(218, 222, 236) 100%);
    --base-gradiant-image:
        linear-gradient(
                180deg,
                rgba(213, 215, 222, 0.7) 0%,
                rgba(226, 229, 234, 0.7) 50%,
                rgba(239, 241, 245, 0.7) 70%,
                rgb(255 255 255 / 70%) 90%
        ),
        url("../../public/images/background_dim.jpg");
    --base-gradiant-image-2:
        linear-gradient(
                180deg,
                rgba(196, 200, 215, 0.8) 0%,
                rgba(218, 221, 231, 0.9) 70%,
                rgba(218, 223, 229, 0.95) 80%,
                rgb(231, 233, 243) 100%
        ),
        url("../../public/images/background_dim-2.jpg");
}
