.button
{
    padding: 1.5rem 3.5rem;
    text-transform: uppercase;
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    color: #20202a;
    background: #FFC107;
    letter-spacing: 1.5px;
    font-weight: 600;
    border: none;
    transition: 0.4s ease-in-out;

    &:hover
    {
        color: #191921;
        background: #ffcd32;
    }
}

.button-secondary
{
    display: flex;
    align-items: center;
    transition: 0.4s ease-in-out;

    &,
    &:link,
    &:visited
    {
        color: #FFC107;
        letter-spacing: 1.5px;
        font-weight: 600;
        font-size: 1.1rem;
    }

    svg
    {
        transition: 0.4s ease-in-out;
        height: 1.5rem;
        width: 1.5rem;
        fill: #FFC107;
    }

    &:hover
    {
        text-shadow: 0 0 0.2em #bdbdbd;

        svg
        {
            filter: drop-shadow(0 0 0.2em #bdbdbd);
            margin-left: .4rem;
        }
    }
}
