.button
{
    padding: 1.5rem 3.5rem;
    text-transform: uppercase;
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    color: #20202a;
    background: #FFC107;
    letter-spacing: 1.5px;
    font-weight: 600;
    border: none;
    transition: 0.4s ease-in-out;
}
