.filter
{
    background: rgba(20, 20, 26, 0.6);
    position: absolute;
    opacity: 0;
    display: none;
    width: 100%;
    height: 100%;
    transition: opacity .2s;

    &.active
    {
        display: block;
        z-index: 95;
        opacity: 1;
    }

    @include media-1000
    {
        &.active
        {
            display: block;
            z-index: 99;
            opacity: 1;
        }
    }
}
