@keyframes Progress
{
    0%
    {
        stroke-dasharray: 0 100;
    }
}

@keyframes Beat
{
    0%
    {
        opacity: 1;
        height: 1rem;
        width: 1rem;
    }

    100%
    {
        opacity: 0;
        width: 2.5rem;
        height: 2.5rem;
    }
}
