@keyframes Progress
{
    0%
    {
        stroke-dasharray: 0 100;
    }
}

@keyframes beat
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        width: 2.5rem;
        height: 2.5rem;
    }
}
