*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    background-color: #191923;
    color: #8c8c8e;
    padding: 1.4rem;
    overflow: hidden;
    height: 100vh;
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

h1, h2, h3,
h4, h5, h6
{
    color: #fafafc;
}

.container
{
    transition: all .8s;

    display: grid;
    grid-template-columns: [aside-start] 30rem [aside-end main-start] 1fr [main-end nav-start] 8rem [nav-end];
}

.container.navbar-open
{
    display: grid;
    grid-template-columns: [aside-start] 30rem [aside-end main-start] 1fr [main-end nav-start] 30rem [nav-end];
}

.build
{
    &__cursor
    {
        border-right: 0.1rem solid #fafafc;
    }
}
