.u-margin-bottom-small { margin-bottom: 0.4rem !important; }
.u-margin-bottom-medium { margin-bottom: 1.6rem !important; }
.u-margin-bottom-large { margin-bottom: 6rem !important; }

.u-margin-top-small { margin-top: 1rem !important; }
.u-margin-top-medium { margin-top: 4rem !important; }
.u-margin-top-large { margin-top: 6rem !important; }

.bg-red { background: #ff1135 !important; }
.bg-green { background: #35ff62 !important; }
.bg-yellow { background: #ffa200 !important; }
.bg-gray { background: #c1c1c1 !important; }
