.nav
{
    display: grid;
    grid-template: nav-start / nav-end;
    grid-template-rows: 7rem 1fr 12rem;

    position: relative;

    box-shadow: 0 3px 8px 0 var(--base-transparent);

    @media only screen and (max-width: 1000px)
    {
        display: block;

        position: fixed;
        top: 0;
        z-index: 100;
        right: -100%;

        transition: 0.4s;
        width: 27.6517rem;
        height: 100%;
    }

    &Mobile
    {
        display: none;

        @media only screen and (max-width: 1000px)
        {
            height: 7rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 3rem;
            position: fixed;
            background: var(--base-dark);
            z-index: 98;
            box-shadow: 0 3px 8px 0 var(--base-transparent);
        }

        &Dots
        {
            display: flex;
            margin: auto 0;
            height: 2rem;
            width: 2rem;
            fill: var(--color-base-text);
        }

        &Hamburger
        {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            padding-right: 1rem;
            transition: all .2s;

            &Line,
            &Line::before,
            &Line::after
            {
                content: '';
                position: absolute;
                width: 1.5rem;
                height: 0.3rem;
                background-color: var(--color-base-text);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                transition: all 0.5s ease-in-out;
            }

            &Line::before
            {
                top: -1rem;
            }

            &Line::after
            {
                top: 0.7rem;
            }

            &:hover &Line,
            &:hover &Line::after,
            &:hover &Line::before
            {
                background-color: #ffffff;
            }

            &Open
            {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;
                padding-right: 1rem;
                transition: all .2s;

                &Line,
                &Line::before,
                &Line::after
                {
                    content: '';
                    position: absolute;
                    width: 1.5rem;
                    height: 0.3rem;
                    background-color: var(--color-base-text);
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    transition: all 0.5s ease-in-out;
                }

                &Line::before
                {
                    top: -1rem;
                }

                &Line::after
                {
                    top: 0.7rem;
                }

                &:hover &Line::after,
                &:hover &Line::before
                {
                    background-color: #ffffff;
                }

                &Line
                {
                    background-color: transparent;
                }

                &Line::before
                {
                    transform: rotate(45deg);
                }

                &Line::after
                {
                    transform: rotate(-45deg);
                }

                &Line::before,
                &Line::after
                {
                    top: 0;
                }
            }
        }
    }

    &Hamburger
    {
        background: var(--base-darker);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;

        &Line
        {
            position: absolute;
            width: 1.5rem;
            height: 0.3rem;
            background-color: var(--color-base-text);
            top: 3.5rem;
            left: 3.5rem;
            margin: auto;
            z-index: 100;
            transition: background-color 0.5s ease-in-out;

            &::before,
            &::after
            {
                transition: all 0.5s ease-in-out;
                content: '';
                position: absolute;
                width: 1.5rem;
                height: 0.3rem;
                background-color: var(--color-base-text);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }

            &::before
            {
                top: -1rem;
            }

            &::after
            {
                top: 0.7rem;
            }

            &[data-open='true']
            {
                left: 3rem;
                right: auto;
                background-color: transparent;

                &::before
                {
                    transform: rotate(45deg);
                }

                &::after
                {
                    transform: rotate(-45deg);
                }

                &::before,
                &::after
                {
                    top: 0;
                }
            }

            &:hover,
            &:hover::after,
            &:hover::before
            {
                background-color: var(--color-base-text-bolder);
            }
        }

        @media only screen and (max-width: 1000px)
        {
            width: 100%;
            height: 7rem;

            &:hover &Line
            {
                background-color: transparent;
            }

            &:hover &Line::after,
            &:hover &Line::before
            {
                background-color: var(--color-base-text-bolder);
            }

            &Line
            {
                background-color: transparent;
            }

            &Line::before
            {
                transform: rotate(45deg);
            }

            &Line::after
            {
                transform: rotate(-45deg);
            }

            &Line::before,
            &Line::after
            {
                top: 0;
            }

            &Line
            {
                left: 3rem;
                right: auto;
            }
        }
    }

    &Content
    {
        background-color: var(--base-dark);
        text-shadow: 0 0 3px var(--base-transparent);

        padding-top: 5rem;
        text-align: center;

        &Active
        {
            margin-top: 1rem;

            transform: rotate(90deg);
            transition: opacity .2s;

            font-size: 1.2rem;
            font-weight: 500;

            &[data-open=true]
            {
                opacity: 0 !important;
            }

            @media only screen and (max-width: 1000px)
            {
                opacity: 0 !important;
            }
        }

        &List
        {
            position: absolute;
            top: 50%;

            transition: all 0.2s ease;
            transform: translateY(-50%);
            text-align: left;
            opacity: 0;
            visibility: hidden;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 500;
            width: 100%;
            overflow: hidden;

            & a
            {
                display: flex;

                width: 100%;
                cursor: pointer;
                white-space: pre;
                padding: .7rem 3rem;
                transition: all 0.2s ease;

                color: var(--color-base-text);

                &:hover
                {
                    color: var(--color-base-text-bold);
                }

                &[data-active='true']
                {
                    color: var(--color-base-text-bolder);
                    text-shadow: 0 0 5px var(--base-transparent);
                }
            }

            &[data-open='true']
            {
                visibility: visible;
                opacity: 1;
            }
        }

        @media only screen and (max-width: 1000px)
        {
            height: 100%;
        }
    }

    &Themes
    {
        padding-top: 1rem;
        background: var(--base-darker);
        display: block;

        &Active
        {
            background-color: var(--color-primary) !important;
            color: var(--color-base-text-bolder) !important;
        }

        & span
        {
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
            background-color: var(--base-dark);
            transition: all .2s;
            cursor: pointer;
            width: 2.8rem;
            height: 2.8rem;
            margin: auto auto .5rem;

            &:first-child
            {
                margin-top: .5rem;
            }

            &:hover
            {
                background-color: var(--base);
            }

            & svg
            {
                width: 1.25rem;
                height: 1.25rem;
                fill: var(--color-base-text-bold);
            }
        }

        &[data-open='true']
        {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;

            & span
            {
                margin: auto 1rem;
            }
        }

        @media only screen and (max-width: 1000px)
        {
            position: absolute;
            bottom: 0;

            transition: .4s;
            width: 100%;
            height: 7rem;
        }
    }

    @media only screen and (max-width: 1000px)
    {
        &[data-open='true']
        {
            right: 0;
        }
    }
}

html[data-language='fa']
{
    & .navMobile
    {
        direction: initial;
    }

    & .navContentActive
    {
        transform: rotate(-90deg);
    }

    @media only screen and (min-width: 1000px)
    {
        & .navHamburgerLine
        {
            right: 0;
            left: 0;
        }

        & .nav[data-open='true'] .navHamburgerLine
        {
            right: 3rem;
            left: auto;

            transition: all 0.5s ease-in-out;
        }
    }
}
