.serviceCard
{
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &Heading
    {
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: #fafafc;
    }

    &Paragraph
    {
        margin-bottom: 1.5rem;
        line-height: 1.7;
        font-size: 1.1rem;
        font-weight: 500;
        color: #8c8c8e;
    }

    &Button
    {
        display: flex;
        align-items: center;

        margin-top: auto;

        &,
        &:link,
        &:visited
        {
            color: #FFC107;
            letter-spacing: 1.5px;
            font-weight: 600;
            font-size: 1.1rem;
        }

        svg
        {
            height: 1.5rem;
            width: 1.5rem;
            fill: #FFC107;
            transition: all .2s;
        }

        &:hover svg
        {
            margin-left: .4rem;
        }
    }
}
