.nav
{
    grid-template: nav-start / nav-end;
    display: grid;
    position: relative;
    grid-template-rows: 7rem 1fr 12rem;
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);

    @include media-1000
    {
        transition: 0.4s;
        z-index: 100;
        display: block;
        top: 0;
        width: 27.6517rem;
        height: 100%;
        position: fixed;
        right: -100%;
    }

    &__mobile
    {
        display: none;

        @include media-1000
        {
            height: 7rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 3rem;
            position: fixed;
            background: #20202a;
            z-index: 98;
            box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
        }

        &--3dot
        {
            display: flex;
            margin: auto 0;
            height: 2rem;
            width: 2rem;
            fill: #8c8c8e;
        }

        &--hamburger
        {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            padding-right: 1rem;
            transition: all .2s;

            &__line,
            &__line::before,
            &__line::after
            {
                content: '';
                position: absolute;
                width: 1.5rem;
                height: 0.3rem;
                background-color: #8c8c8e;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                transition: all 0.5s ease-in-out;
            }

            &__line::before
            {
                top: -1rem;
            }

            &__line::after
            {
                top: 0.7rem;
            }

            &:hover &__line,
            &:hover &__line::after,
            &:hover &__line::before
            {
                background-color: #ffffff;
            }

            &__open
            {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;
                padding-right: 1rem;
                transition: all .2s;

                &--line,
                &--line::before,
                &--line::after
                {
                    content: '';
                    position: absolute;
                    width: 1.5rem;
                    height: 0.3rem;
                    background-color: #8c8c8e;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    transition: all 0.5s ease-in-out;
                }

                &--line::before
                {
                    top: -1rem;
                }

                &--line::after
                {
                    top: 0.7rem;
                }

                &:hover &--line::after,
                &:hover &--line::before
                {
                    background-color: #ffffff;
                }

                &--line
                {
                    background-color: transparent;
                }

                &--line::before
                {
                    transform: rotate(45deg);
                }

                &--line::after
                {
                    transform: rotate(-45deg);
                }

                &--line::before,
                &--line::after
                {
                    top: 0;
                }
            }
        }
    }

    &__hamburger
    {
        background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;

        &--line
        {
            position: absolute;
            width: 1.5rem;
            height: 0.3rem;
            background-color: #8c8c8e;
            top: 3.5rem;
            left: 3.5rem;
            margin: auto;
            z-index: 100;
            transition: background-color 0.5s ease-in-out;
        }

        &--line::before,
        &--line::after
        {
            transition: all 0.5s ease-in-out;
            content: '';
            position: absolute;
            width: 1.5rem;
            height: 0.3rem;
            background-color: #8c8c8e;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

        &--line::before
        {
            top: -1rem;
        }

        &--line::after
        {
            top: 0.7rem;
        }

        &:hover &--line,
        &:hover &--line::after,
        &:hover &--line::before
        {
            background-color: #ffffff;
        }

        @include media-1000
        {
            width: 100%;
            height: 7rem;

            &:hover &--line
            {
                background-color: transparent;
            }

            &:hover &--line::after,
            &:hover &--line::before
            {
                background-color: #ffffff;
            }

            &--line
            {
                background-color: transparent;
            }

            &--line::before
            {
                transform: rotate(45deg);
            }

            &--line::after
            {
                transform: rotate(-45deg);
            }

            &--line::before,
            &--line::after
            {
                top: 0;
            }

            &--line
            {
                left: 3rem;
                right: auto;
            }
        }
    }

    &__content
    {
        background-color: #20202A;
        padding-top: 3rem;
        text-align: center;

        &--active
        {
            margin-top: 1rem;

            transform: rotate(90deg);
            transition: opacity .5s;

            font-size: 1.2rem;
            font-weight: 500;

            @include media-1000
            {
                opacity: 0 !important;
            }
        }

        &--items
        {
            transition: all 0.2s ease;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: left;
            opacity: 0;
            visibility: hidden;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 500;
            width: 100%;
            overflow: hidden;

            a
            {
                display: flex;
                padding: .7rem 3rem;
                width: 100%;
                transition: all 0.2s ease;
                cursor: pointer;
                color: var(--color-base-text);
                white-space: pre;

                &.active,
                &:hover,
                &.home-page:first-child,
                &.blog-page:first-child,
                &.portfolio-page:nth-child(2),
                &.contact-page:nth-child(3),
                &.funny-page:nth-child(4),
                &.blogs-page:nth-child(5)
                {
                    color: var(--color-base-text-bolder);
                    text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
                }
            }
        }

        @include media-1000
        {
            height: 100%;
        }
    }

    &__languages
    {
        padding-top: 1rem;
        background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
        display: block;

        &--active
        {
            background-color: var(--color-primary) !important;
            color: #1e1e28 !important;
        }

        span
        {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: var(--base-dark);
            color: var(--color-base-text-bold);
            font-weight: 600;
            transition: all .2s;
            cursor: pointer;
            width: 2.8rem;
            height: 2.8rem;
            margin: auto auto .5rem;

            &:first-child
            {
                margin-top: .5rem;
            }

            &:hover
            {
                color: #cbcbcb;
                background-color: var(--base-darker);
            }
        }

        @include media-1000
        {
            transition: .4s;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 7rem;
        }
    }


    &.open &__content--active
    {
        opacity: 0;
    }

    &.open &__languages
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;

        span
        {
            margin: auto 1rem;
        }
    }

    &.open
    {
        & .nav__content--items
        {
            visibility: visible;
            opacity: 1;
        }

        & .nav__hamburger
        {
            &--line
            {
                background-color: transparent;
            }

            &--line::before
            {
                transform: rotate(45deg);
            }

            &--line::after
            {
                transform: rotate(-45deg);
            }

            &--line::before,
            &--line::after
            {
                top: 0;
            }

            &--line
            {
                left: 3rem;
                right: auto;
            }
        }

        @include media-1000
        {
            right: 0;
        }
    }
}

html[data-language='fa']
{
    & .nav__content
    {
        &--active
        {
            transform: rotate(-90deg);
        }
    }

    & .nav__hamburger--line
    {
        right: 0;
        left: 0;
    }

    & .nav.open .nav__hamburger--line
    {
        transition: all 0.5s ease-in-out;

        right: 3rem;
        left: auto;
    }
}
