.home
{
    &__header
    {
        &--top
        {
            position: relative;
            top: -37rem;
            width: 80%;
            height: 3rem;
            box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            background: rgba(30, 30, 40, 0.88);
            margin: 0 auto;
        }

        &--content
        {
            position: relative;
            top: -37rem;
            margin: 0 auto;
            background-image: linear-gradient(90deg, rgba(45, 45, 58, 0.9) 15%, rgba(45, 45, 58, 0.7) 50%, rgba(43, 43, 53, 0.7) 100%), url("../Images/background.jpg");
            background-position: center;
            background-size: cover;
            width: 96%;
            height: 35rem;
            padding: 6rem;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h1
            {
                font-size: 5rem;
            }

            &__description
            {
                color: white;
                font-size: 1.7rem;
                font-weight: 400;
                margin-top: -2rem;

                i
                {
                    color: #FFC107;
                }
            }
        }
    }
}
