.home
{
    height: auto;
    width: 100%;

    &__header
    {
        position: relative;
        padding: 0 3rem;


        @include media-1000
        {
            padding: 1.5rem;
        }

        &--top
        {
            position: absolute;
            top: -37rem;
            width: 90%;
            height: 3rem;
            box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            background: rgba(30, 30, 40, 0.88);
            margin-left: 3%;

            @include media-1400
            {
                display: none;
            }
        }

        &--content
        {
            position: absolute;
            top: -34rem;
            background-image: linear-gradient(90deg, rgba(45, 45, 58, 0.9) 15%, rgba(45, 45, 58, 0.7) 50%, rgba(43, 43, 53, 0.7) 100%), url("../Images/background.jpg");
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 35rem;
            padding: 6rem;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            @include media-1000
            {
                left: 50%;
                transform: translate(-50%, 0);

                top: -39rem !important;
            }

            &__parent
            {
                position: relative;
            }

            h1
            {
                font-size: 5rem;
            }

            &__description
            {
                color: white;
                font-size: 1.7rem;
                font-weight: 400;

                i
                {
                    color: #FFC107;
                }
            }

            @include media-1400
            {
                top: -37rem;
            }

            @include media-1200
            {
                h1
                {
                    font-size: 2.8rem
                }
            }

            @include media-1000
            {
                justify-content: center;
                align-items: center;

                h1
                {
                    font-size: 3rem;
                    padding-bottom: 2rem;
                }

                a
                {
                    align-self: initial;
                }

                &__description
                {
                    padding-bottom: 2rem;
                }
            }
        }

        &--logs
        {
            padding-top: 3rem;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            place-items: center;

            @include media-1300
            {
                grid-template-columns: repeat(2, minmax(20rem, 1fr));
            }

            @include media-1000
            {
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            }

            &__box
            {
                display: flex;
                align-items: center;

                @include media-1300
                {
                    margin: 1rem 0;
                }

                span
                {
                    font-size: 2.2rem;
                    font-weight: 600;
                    color: #FFC107;

                    &:not(:last-child)
                    {
                        margin-right: 1rem;
                    }
                }

                p
                {
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: #fafafc;
                }
            }
        }
    }

    &__services
    {
        padding: 0 3rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 2rem;

        @include media-1000
        {
            padding: 1.5rem;
        }

        &--content
        {
            background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
            padding: 3rem;

            h5
            {
                margin-bottom: 1.5rem;
                font-size: 1.4rem;
                font-weight: 600;
            }

            p
            {
                margin-bottom: 1.5rem;
                line-height: 1.7;
                font-size: 1.1rem;
                font-weight: 500;
            }
        }
    }

    &__plans
    {
        padding: 0 3rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 2rem;

        @include media-1000
        {
            padding: 1.5rem;
        }

        &--content
        {
            padding: 3rem;
            background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h5
            {
                font-size: 1.4rem;
                font-weight: 600;
                margin-bottom: 2.5rem;
            }

            div
            {
                font-size: 3rem;
                color: #FFC107;
                font-weight: 600;
                margin-bottom: 2rem;

                span
                {
                    color: #fafafc;
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }

            ul
            {
                margin-bottom: 2rem;

                li
                {
                    margin-bottom: 1.5rem;
                    text-align: center;

                    svg
                    {
                        height: 1rem;
                        width: 1rem;
                        fill: #FFC107;
                    }

                    span
                    {
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    &__recommendations
    {
        padding-left: 3rem;

        @include media-1000
        {
            padding: 1.5rem;
        }

        &:last-child
        {
            padding: 0 3rem;
        }

        &--slide
        {
            display: flex;
            justify-content: left;
            align-items: center;
            width: 100%;
        }

        &--content
        {
            padding: 3rem;
            background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);

            position: relative;
            margin-bottom: 2rem;
            min-width: 47rem;

            div
            {
                margin-bottom: 1rem;

                h5
                {
                    display: flex;
                    flex-direction: column;

                    font-size: 1.4rem;
                    font-weight: 600;

                    span
                    {
                        margin-top: 0.5rem;
                        color: #646466;
                        font-style: italic;
                        font-size: 1.1rem;
                    }
                }

                img
                {
                    position: absolute;
                    right: 3rem;
                    top: -2.2rem;
                    height: 6.5rem;
                    width: 6.5rem;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            p
            {
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 2rem;
            }

            ul
            {
                display: inline-flex;

                box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
                background: #20202a;
                border-radius: 3rem;
                padding: 0.5rem 1.5rem;

                li
                {
                    margin: 0 0.2rem;

                    svg
                    {
                        height: 1rem;
                        width: 1rem;
                        fill: #ffc107;
                    }
                }
            }
        }

        &--page
        {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 3rem;
            margin-bottom: 2rem;

            svg
            {
                height: 2rem;
                width: 2rem;
                fill: #8c8c8e;;
            }
        }
    }
}
