.home
{
    height: 100%;
    width: 100%;

    &__header
    {
        position: relative;
        padding: 0 3rem;

        &--top
        {
            position: absolute;
            top: -37rem;
            width: 90%;
            height: 3rem;
            box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            background: rgba(30, 30, 40, 0.88);
            margin-left: 3%;
        }

        &--content
        {
            position: absolute;
            top: -34rem;
            background-image: linear-gradient(90deg, rgba(45, 45, 58, 0.9) 15%, rgba(45, 45, 58, 0.7) 50%, rgba(43, 43, 53, 0.7) 100%), url("../Images/background.jpg");
            background-position: center;
            background-size: cover;
            width: 96%;
            height: 35rem;
            padding: 6rem;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h1
            {
                font-size: 5rem;
            }

            &__description
            {
                color: white;
                font-size: 1.7rem;
                font-weight: 400;
                margin-top: -2rem;

                i
                {
                    color: #FFC107;
                }
            }
        }

        &--logs
        {
            padding-top: 3rem;

            display: flex;

            &__box
            {
                flex: 0 0 25%;

                display: flex;
                align-items: center;

                span
                {
                    font-size: 2.2rem;
                    font-weight: 600;
                    color: #FFC107;

                    &:not(:last-child)
                    {
                        margin-right: 1rem;
                    }
                }

                p
                {
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: #fafafc;
                }
            }
        }
    }

    &__services
    {
        padding: 0 3rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 2rem;

        &--content
        {
            background-color: #2C2C38;
            padding: 3rem;

            h5
            {
                margin-bottom: 1.5rem;
                font-size: 1.4rem;
                font-weight: 600;
            }

            p
            {
                margin-bottom: 1.5rem;
                line-height: 1.7;
                font-size: 1.1rem;
                font-weight: 500;
            }
        }
    }

    &__plans
    {
        padding: 0 3rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 2rem;

        &--content
        {
            padding: 3rem;
            background-color: #2D2D39;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h5
            {
                font-size: 1.4rem;
                font-weight: 600;
                margin-bottom: 2.5rem;
            }

            div
            {
                font-size: 3rem;
                color: #FFC107;
                font-weight: 600;
                margin-bottom: 2rem;

                span
                {
                    color: #fafafc;
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }

            ul
            {
                margin-bottom: 2rem;

                li
                {
                    margin-bottom: 1.5rem;
                    text-align: center;

                    svg
                    {
                        height: 1rem;
                        width: 1rem;
                        fill: #FFC107;
                    }

                    span
                    {
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
