@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

@font-face
{
    font-family: 'yekan';
    src: url('../../assets/fonts/yekan/IRANYekanWeb.eot');
    src: url('../../assets/fonts/yekan/IRANYekanWeb.svg') format('svg'),
    url('../../assets/fonts/yekan/IRANYekanWeb.woff2') format('woff2'),
    url('../../assets/fonts/yekan/IRANYekanWeb.woff') format('woff'),
    url('../../assets/fonts/yekan/IRANYekanWeb.ttf') format('truetype');
}

.heading
{
    font-size: 1.7rem;
    font-weight: 600;
    padding: 2rem 3rem;
    z-index: 92;
    position: relative;

    @media only screen and (max-width: 1000px)
    {
        padding: 1.5rem;
    }

    &__small
    {
        display: flex;
        font-size: 1.2rem;
        font-weight: 400;
        padding: 0 3rem 2rem;

        @media only screen and (max-width: 1000px)
        {
            display: block;
            text-align: center;
        }

        li
        {
            transition: 0.4s ease-in-out;
            color: var(--color-base-text);
            margin-right: 1rem;
            cursor: pointer;

            &:hover
            {
                color: var(--color-base-text-bolder);
            }

            &.active
            {
                color: var(--color-base-text-bolder);
                text-shadow: 0 0 3px var(--color-base-text-shadow);
            }

            @media only screen and (max-width: 1000px)
            {
                margin: 1rem 0;
            }
        }
    }
}
