.blog
{
  position: relative;
  z-index: 95;
  height: auto;
  width: 100%;
  padding: 3rem;

  @include media-1000
  {
    padding: 1.5rem;
  }

  &__items
  {
    padding: 0 3rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    @include media-1400
    {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item
  {
    border-radius: 1rem;
    display: none;
    transition: all .35s;
    position: relative;
    background: var(--base-lighter);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    min-height: 30rem;
    overflow: hidden;

    &.active
    {
      display: block;
    }

    &--box
    {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 70%;
      position: absolute;
      bottom: -70%;
      z-index: 96;
      padding: 3rem;
      background: var(--base-light);
      box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
      transition: 0.55s ease-in-out;

      h2
      {
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        color: var(--color-base-text-bold);
        margin-bottom: 1rem;
      }

      p
      {
        width: 100%;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 1.5rem;
      }

      & .button-secondary
      {
        width: 100%;
        display: flex;
        margin: auto auto 0;
      }
    }

    img
    {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
      filter: brightness(85%) blur(0);
      transition: 0.4s ease-in-out;
    }

    i
    {
      opacity: 0;
      color: var(--color-base-text-bold);
      background: var(--base-light);
      border-radius: 50%;
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      font-size: 1.2rem;
      padding: .8rem 1rem 1rem;
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s ease-in-out;
      cursor: pointer;

      &:hover
      {
        color: var(--color-base-text-bolder);
        background: var(--base-dark);
      }
    }

    &:hover
    {
      i
      {
        opacity: 1;
      }

      img
      {
        transform: scale(1.07);
        filter: brightness(100%) blur(0);
      }

      & .blog__item--box
      {
        bottom: 0;
      }
    }


    @include media-1000
    {
      min-height: 40rem;

      img
      {
        height: 55%;
        bottom: 45%;
      }

      &--box
      {
        height: 45%;
        position: absolute;
        bottom: 0;
      }
    }
  }

  &__view
  {
    &--image
    {
      position: relative;
      overflow: hidden;
      width: 100%;
      border-radius: 1rem;
      height: 50rem;

      img
      {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
        filter: brightness(85%) blur(0);
        transition: 0.4s ease-in-out;

        &:hover
        {
          transform: scale(1.07);
          filter: brightness(100%) blur(0);
        }
      }
    }

    &--card
    {
      min-height: 50rem;
      border-radius:  0 0 1rem 1rem;
      background: var(--base-light);
      padding: 3rem;
      font-size: 1.5rem;
      font-weight: 500;

      @include media-1000
      {
        padding: 1.5rem;
      }

      &__header
      {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:  0 3rem;
        min-height: 5rem;
        border-radius:  1rem 1rem 0 0;
        background: var(--base-lighter);
        font-size: 1.2rem;
        color: var(--color-base-text-bold);

        @include media-1000
        {
          padding: 0 1.5rem;
        }

        span
        {
          display: flex;

          p
          {
            font-weight: 600;
            margin: 0 .5rem;
          };
        }
      }
    }
  }
}