.contact
{
    position: relative;
    z-index: 95;
    height: auto;
    width: 100%;

    &__information
    {
        padding: 0 3rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 2rem;

        @include media-1000
        {
            padding: 0 1.5rem;
        }

        &--content
        {
            border-radius: 1rem;
            background: var(--base-light);
            box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
            padding: 3rem;
            min-height: 20rem;

            &__personal
            {
                padding-bottom: 1.2rem;
                height: 100%;

                ul
                {
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                li
                {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                h6
                {
                    color: #fafafc;
                    font-size: 1.2rem;
                    font-weight: 300;
                }

                span
                {
                    font-size: 1.2rem;
                }
            }
        }
    }

    &__in-touch
    {
        background: var(--base-light);
        box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
        padding: 3rem;
        height: 100%;
        width: 100%;
        border-radius: 1rem;

        &--parent
        {
            width: 100%;
            padding: 0 3rem;
            display: flex;
            justify-content: center;
            align-items: center;

            @include media-1000
            {
                padding: 0 1.5rem;
            }
        }

        &--form
        {
            &__group
            {
                display: flex;
                margin: auto;
                height: 5rem;
                direction: ltr;

                label
                {
                    direction: ltr;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5rem;
                    color: var(--color-base-text);
                    height: 100%;
                    min-width: 5rem;
                    width: 5rem;
                    background: #20202a;
                    transition: 0.4s ease-in-out;
                    border-radius: 1rem 0 0 1rem;
                }

                input,
                textarea
                {
                    direction: ltr;
                    resize: none;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(159deg, #252532 0%, #23232d 100%);
                    border: none;
                    color: #fafafc;
                    padding: 2rem 2rem 2rem 1rem;
                    box-shadow: inset 0 1px 4px 0 rgba(15, 15, 20, 0.1);
                    transition: 0.4s ease-in-out;
                    border-radius: 0 1rem 1rem 0;

                    &:focus-within + label
                    {
                        color: var(--base-dark);
                        background: var(--color-primary);
                    }

                    &:focus
                    {
                        border: none;
                        outline: none;
                    }

                    &::placeholder
                    {
                        color: #646466;
                    }
                }

                &.input
                {
                    margin-bottom: 3rem;
                    direction: rtl;
                }

                &.message
                {
                    height: 15rem;

                    input,
                    textarea,
                    label
                    {
                        height: 100%;
                    }
                }
            }
        }
    }
}

html[data-language='pr']
{
    .contact
    {
        &__in-touch
        {
            &--form__group
            {
                direction: rtl;

                &.input
                {
                    direction: ltr;
                }

                label
                {
                    direction: ltr;
                    border-radius: 0 1rem 1rem 0;
                }

                input,
                textarea
                {
                    direction: rtl;
                    border-radius: 1rem 0 0 1rem;
                }
            }
        }
    }
}