.projectCard
{
    position: relative;
    border-radius: var(--border-radius);
    transition: all .35s;
    background: var(--base-lighter);
    height: 30rem;
    overflow: hidden;

    &Image
    {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &Content
    {
        display: flex;
        flex-wrap: wrap;

        position: absolute;
        bottom: 0;

        width: 100%;
        background: var(--base-light);
        transition: .55s ease-in-out;
        transform: translateY(100%);
        overflow: hidden;

        padding: 3rem;

        visibility: hidden;
        opacity: 0;

        @media screen and (max-width: 1000px)
        {
            visibility: visible;
            opacity: 1;
            transform: translateY(0%);
        }

        &Heading
        {
            width: 100%;
            font-size: 1.4rem;
            font-weight: 600;
            color: var(--color-base-text-bold);
        }

        &Paragraph
        {
            width: 100%;
            font-size: 1.3rem;
            font-weight: 400;
            margin: 1rem 0 1.5rem;
        }

        &Button
        {
            display: flex;
            align-items: center;

            margin-top: auto;

            &,
            &:link,
            &:visited
            {
                color: var(--color-primary);
                letter-spacing: 1.5px;
                font-weight: 600;
                font-size: 1.1rem;
            }

            svg
            {
                height: 1.5rem;
                width: 1.5rem;
                fill: var(--color-primary);
                transition: all 0.2s;
            }

            &:hover svg
            {
                margin-left: 0.4rem;
            }
        }
    }

    &:hover > &Content
    {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
    }
}
