.nav
{
    grid-template: nav-start / nav-end;

    display: grid;
    grid-template-rows: 7rem 1fr 12rem;

    box-shadow: 0 3px 8px 0 var(--base-transparent-darker);

    &Hamburger
    {
        background: var(--base-darker);

        position: relative;
        cursor: pointer;

        transition: all 0.2s;

        &Line
        {
            position: absolute;
            top: 3.5rem;
            left: 3.5rem;
            z-index: 100;

            width: 1.5rem;
            height: 0.3rem;
            background-color: var(--color-base-text);
            margin: auto;
            transition: all 0.5s ease-in-out;

            &::before,
            &::after
            {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                width: 1.5rem;
                height: 0.3rem;
                background-color: var(--color-base-text);
                margin: auto;
                transition: all 0.5s ease-in-out;
            }

            &::before
            {
                top: -1rem;
            }

            &::after
            {
                top: 0.7rem;
            }
        }
    }

    &Content
    {
        background-color: var(--base-dark);
        padding-top: 3rem;
        text-align: center;

        &Active
        {
            display: block;
            transform: rotate(90deg);

            color: var(--color-base-text);
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    &Theme
    {
        background: var(--base-darker);

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        & span
        {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0.8rem;
            border-radius: 50%;
            background-color: var(--base-dark);
            color: var(--color-base-text);
            font-weight: 600;
            transition: all 0.2s;
            cursor: pointer;

            & svg
            {
                width: 1.2rem;
                height: 1.2rem;
            }
        }

        &Active
        {
            background-color: var(--color-primary) !important;

            & svg
            {
                fill: var(--base);
            }
        }
    }
}
