.tooltip
{
    display: inline-block;

    color: var(--color-base-text-bold);
    padding: 0.5rem 1.5rem;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 0.65rem;
    background: var(--base-darker);
    margin-bottom: 0.25rem;
    box-shadow: 0 0 2rem 0.5rem var(--base);

    &::after
    {
        content: "";

        position: absolute;
        top: 100%;
        left: 50%;

        margin-top: -0.325rem;
        width: 0.75rem;
        height: 0.75rem;
        background: var(--base-darker);
        transform: rotate(45deg);
    }

    &[data-light]
    {
        background: green;

        &::after
        {
            border-color: green transparent transparent;
        }
    }
}
