.home
{
    &HeadingPrimary
    {
        font-size: 1.7rem;
        font-weight: 600;
        padding: 3rem;
        color: #fafafc;
    }

    &HeadingSecondary
    {
        font-size: 1.7rem;
        font-weight: 600;
        padding: 5rem 3rem 2rem 3rem;
        color: #fafafc;
    }

    &Header
    {
        position: relative;

        padding: 0 3rem;

        &Top
        {
            position: absolute;
            top: -37rem;

            width: 90%;
            height: 3rem;
            box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            background: rgba(30, 30, 40, 0.88);
            margin-left: 3%;
        }

        &Content
        {
            position: absolute;
            top: -34rem;

            background-image: linear-gradient(90deg, rgba(45, 45, 58, 0.9) 15%, rgba(45, 45, 58, 0.7) 50%, rgba(43, 43, 53, 0.7) 100%), url('/images/background.jpg');
            background-position: center;
            background-size: cover;
            width: 96%;
            height: 35rem;
            padding: 6rem;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &Heading
            {
                font-size: 5rem;
                color: #fafafc;
            }

            &Description
            {
                color: white;
                font-size: 1.7rem;
                font-weight: 400;
                font-family: Source Code Pro,monospace;

                & span:after
                {
                    content: '|';
                }

                & i
                {
                    color: #FFC107;
                }
            }

            &Button
            {
                align-self: start;

                padding: 1.5rem 3.5rem;
                text-transform: uppercase;
                box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
                color: #20202a;
                background: #FFC107;
                letter-spacing: 1.5px;
                font-weight: 600;
                border: none;
                transition: 0.4s ease-in-out;
            }
        }

        &Logs
        {
            padding-top: 3rem;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            place-items: center;

            &Box
            {
                display: flex;
                align-items: center;

                &Number
                {
                    font-size: 2.2rem;
                    font-weight: 600;
                    color: #FFC107;

                    &:not(:last-child)
                    {
                        margin-right: 1rem;
                    }
                }

                &Paragraph
                {
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: #fafafc;
                }
            }
        }
    }

    &About
    {
        display: grid;
        grid-template-columns: repeat(3, minmax(30rem, 1fr));
        grid-gap: 2rem;

        padding: 0 3rem;

        &Paragraph
        {
            grid-column: 1/3;

            color: #fafafc;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.85rem;
            text-align: justify;
        }

        &FAT
        {
            grid-column: 3/4;

            padding: 3rem;
            background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);

            &Item
            {
                display: flex;
                align-items: center;

                &:nth-child(2)
                {
                    margin-top: 2rem;
                }

                &:not(:last-child)
                {
                    margin-bottom: 1rem;
                }

                & h6
                {
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                    color: #fafafc;
                }

                & h5
                {
                    font-size: 1.25rem;
                    color: #8c8c8e;
                    font-weight: 300;
                    width: 12rem;
                }

                &ListLogo
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &Item
                    {
                        &:not(:first-child)
                        {
                            margin-left: -1rem;
                        }

                        & span
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            border: .3rem solid #252531;
                            width: 5.25rem;
                            height: 5.25rem;
                            padding: .85rem;
                            border-radius: 10rem;
                            background-color: #1E1E28;
                        }
                    }
                }
            }
        }
    }

    &Services
    {
        padding: 0 3rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-gap: 2rem;

        &Content
        {
            background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
            padding: 3rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &Heading
            {
                margin-bottom: 1.5rem;
                font-size: 1.4rem;
                font-weight: 600;
                color: #fafafc;
            }

            &Paragraph
            {
                margin-bottom: 1.5rem;
                line-height: 1.7;
                font-size: 1.1rem;
                font-weight: 500;
                color: #8c8c8e;
            }

            &Button
            {
                display: flex;
                align-items: center;

                margin-top: auto;

                &,
                &:link,
                &:visited
                {
                    color: #FFC107;
                    letter-spacing: 1.5px;
                    font-weight: 600;
                    font-size: 1.1rem;
                }

                svg
                {
                    height: 1.5rem;
                    width: 1.5rem;
                    fill: #FFC107;
                    transition: all .2s;
                }

                &:hover svg
                {
                    margin-left: .4rem;
                }
            }
        }
    }

    &Repositories
    {
        padding: 0 3rem;

        &PrevNext
        {
            padding: 1rem 0;

            display: flex;
            align-items: center;
            justify-content: flex-end;

            & svg
            {
                cursor: pointer;
                width: 2.5rem;
                height: 2.5rem;
                fill: #8c8c8e;
            }
        }
    }

    &Organizations
    {
        padding: 4rem 3rem;
    }
}
