*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    display: flex;

    font-size: 65%;
    scroll-behavior: smooth;
    letter-spacing: 0.5px;
    font-family: Poppins, sans-serif;
}

body
{
    position: relative;

    margin: 0 auto;
    box-sizing: border-box;
    font-weight: 300;
    background-color: var(--base);
    color: var(--color-base-text);
}

h1,
h2,
h3,
h4,
h5,
h6
{
    color: var(--color-base-text-bolder);
}

html[data-language="fa"]
{
    .paragraph.first-letter::first-letter
    {
        font-size: 100%;
        padding: 0;
        margin-right: auto;
        float: right;
    }

    & #button-secondary
    {
        svg
        {
            transform: rotate(-180deg);
        }

        &:hover
        {
            svg
            {
                margin-left: 0;
                margin-right: 0.4rem;
            }
        }
    }

    & #button
    {
        padding: 1rem 3rem;
        font-size: 1.5rem;
    }

    *
    {
        font-family: yekan, sans-serif !important;
        letter-spacing: 0;
    }
}

html[data-theme="matrix"]
{
    font-family: "VT323", monospace;

    h1,
    h3,
    h4,
    a
    {
        text-shadow: 0 0 0.5rem rgb(125 225 125 / 50%), 0 0 1.5rem rgb(125 250 125 / 100%);

        & svg
        {
            filter: drop-shadow(0 0 0.25rem rgb(125 225 125 / 50%));
        }
    }

    .shadow
    {
        color: rgb(153 250 153 / 75%) !important;
        text-shadow: 0 0 0.5rem rgb(125 225 125 / 50%), 0 0 1.5rem rgb(125 250 125 / 100%) !important;
    }
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

#__next
{
    display: grid;
    grid-template-columns:
        [aside-start] 30rem
        [aside-end main-start] minmax(calc(100vw - 38rem), 200rem)
        [main-end];
    box-sizing: border-box;
    height: 100vh;
    width: 100%;

    @media only screen and (min-width: 2000px)
    {
        grid-template-columns:
            [aside-start] 30rem
            [aside-end main-start] minmax(calc(200rem - 38rem), 200rem)
            [main-end];
    }

    @media only screen and (max-width: 1000px)
    {
        padding-top: 3.7rem;
        grid-template-columns: [main-start] 100% [main-end];
    }
}

@keyframes pulse
{
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
