*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    max-width: 200rem;
    font-size: 62.5%;
    scroll-behavior: smooth;
    letter-spacing: 0.5px;
    font-family: Poppins, sans-serif;
}

body
{
    box-sizing: border-box;
    font-weight: 300;
    background-color: #191923;
    color: var(--color-base-text);
}

h1, h2, h3,
h4, h5, h6
{
    color: var(--color-base-text-bolder);
}

html[data-language="fa"]
{
    .paragraph.first-letter:first-letter
    {
        font-size: 100%;
        padding: 0;
        margin-right: auto;
        float: right;
    }

    & #button-secondary
    {
        svg
        {
            transform: rotate(-180deg);
        }

        &:hover
        {
            svg
            {
                margin-left: 0;
                margin-right: 0.4rem;
            }
        }
    }

    & #button
    {
        padding: 1rem 3rem;
        font-size: 1.5rem;
    }

    *
    {
        font-family: yekan, sans-serif !important;
        letter-spacing: 0;
    }
}

html[data-theme='dark']
{
    font-family: 'VT323', monospace;

    h1, h3, h4, a
    {
        text-shadow: 0 0 5px rgba(125,225,125,0.5), 0 0 15px rgba(125,250,125,1);
    }

    .shadow
    {
        color: rgba(153, 250, 153, 0.75) !important;
        text-shadow: 0 0 5px rgba(125,225,125,0.5), 0 0 15px rgba(125,250,125,1) !important;
    }
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

.container
{
    display: grid;
    grid-template-columns:
        [aside-start] 30rem
        [aside-end main-start] calc(100vw - 38rem)
        [main-end nav-start] 0 [nav-end];
    box-sizing: border-box;
    height: 100vh;

    @media only screen and (max-width: 1000px)
    {
        grid-template-columns: [main-start] 100% [main-end];
    }
}

@keyframes pulse
{
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
}
