*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
}

body
{
    box-sizing: border-box;
    font-weight: 300;
    background-color: #191923;
    color: var(--color-base-text);
}

html[data-language='fa']
{
    *
    {
        font-family: yekan, sans-serif !important;
        letter-spacing: 0;
    }
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

h1, h2, h3,
h4, h5, h6
{
    color: var(--color-base-text-bolder);
}

.container
{
    transition: all .8s;
    display: grid;
    grid-template-columns: [aside-start] 30rem [aside-end main-start] 1fr [main-end nav-start] 8rem [nav-end];
    box-sizing: border-box;
    height: 100vh;

    &.navbar-open
    {
        grid-template-columns: [aside-start] 30rem [aside-end main-start] 1fr [main-end nav-start] 30rem [nav-end];
    }

    @media only screen and (max-width: 1000px)
    {
        grid-template-columns: [main-start] 100% [main-end];

        &.navbar-open
        {
            grid-template-columns: [main-start] 100% [main-end];
        }
    }
}

.build
{
    direction: ltr;
    color: var(--color-base-text-bold) !important;
}
